[2014-03-20 11:06] larskluge opened #5 "set :sidekiq_options will be overwritten by defaults if set too early"
If you want to overwrite some default options, you need to delay that quite a bit, otherwise whatever you set will be overwritten by the gem's defaults again.

(not saying it's the best idea, but) I tried to overwrite `:sidekiq_options` in the Capfile itself as it totally works i.e. for other capistrano plugins like https://github.com/capistrano/rbenv, but no success. It took me way too long to fi

[2014-03-24 09:57] #5 closed, assigned to nobody

[2014-04-01 09:28] blackxored opened #9 "Keeps failing to stop sidekiq"
Running /usr/local/rbenv/bin/rbenv exec bundle exec sidekiqctl stop /data/apps/skindler/shared/tmp/pids/sidekiq.pid 10
--- Fails with stdout:nothing written.
It's that the PID isn't found, I'd bet it's some kind of race condition because it invokes `sidekiq:quiet` and checks (albeit with shell which I don't like but apparently works), and then it fails on this one telling me there's no PID.

[2014-04-02 00:00] fernandomm opened #10 "`block in fetch': `stage' not found (IndexError)"
I'm getting the following exception when I try to use capistrano-sidekiq. If I remove the require from Capfile, then my recipe works fine.

Any ideas of what might be causing this issue?

[code]

[2014-04-02 18:09] pawel2105 opened #11 "Sidekiq does not restart on deploy"
Sidekiq does not reliably respawn on each deploy when I define concurrency options for sidekiq.

My environment:
capistrano-sidekiq (0.1.3)
sidekiq (3.0.0)
capistrano (3.0.1)
rails ( 4.0.3)

I require the gem in my Capfile using `require 'capistrano/sidekiq'`.

My production deploy file has:

[code]

I have the following in `config/sidekiq.yml`:

[code]

I've gisted the relevant output from the fi

[2014-04-02 19:01] #11 closed, assigned to nobody

[2014-04-03 16:47] #9 closed, assigned to nobody

[2014-04-06 01:24] felixbuenemann opened #13 "Missing capistrano monit tasks?"
The readme mentions `capistrano/sidekiq/monit` tasks, but there seem to be missing from the git repo.

[2014-04-08 20:51] nicolasgarnil opened #14 "Error on first time deploy"
It seems that the `sidekiq:quiet` task is being called before the `current` symlink is created causing current_path to raise a directory not found error.

I tried disabling capistrano-sidekiq, doing the deploy, enabling capistrano-sidekiq again and deploying and it went fine.

May be `for_each_process` should use `shared_path` instead of `current_path`?

[2014-04-09 10:11] #10 closed, assigned to nobody

[2014-04-11 10:09] #14 closed, assigned to nobody

[2014-04-16 00:52] phillbaker opened #15 "Sidekiq process with scheduled jobs does not die?"
I'm running sidekiq on several setups, but seeing that sidekiq processes consistently do not die on a machine that has lots of "scheduled jobs" (ie jobs scheduled to be performed at a future date via `perform_in`).

Seen in the `sidekiq.log`:

[code]

This means that after most deploys we end up killing old sidekiq processes by hand, otherwise we get tons of sidekiq processes and unicorns get slow

[2014-04-17 06:28] #13 closed, assigned to nobody

[2014-04-17 12:09] mohitjain opened #17 "Its not loading default config/sidekiq.yml file"
I have specified my settings in config/sidekiq.yml file.

[code]

Its not loading it and because of that no process is working.. And there are zero workers in my sidekiq dashboard.

[2014-04-25 08:52] creativetags opened #19 "Development group"
I take it this is only needed in development so in gemfile:

[code]

[2014-04-25 10:19] #19 closed, assigned to nobody

[2014-04-29 00:19] #15 closed, assigned to nobody

[2014-05-05 13:43] fred opened #20 "Multiple Queue per worker"
Hi, first of all, thanks for publishing this gem.

How difficult would it be to implement a feature where we could have different workers per config file?

so that we can have for example, 2 workers:

worker 0:
pid file:  shared_path/tmp/pids/sidekiq-0.pid (as usual)
config file:  shared_path/config/sidekiq-0.yml
i.e. this worker would have queues:  ":low" and ":normal" and 50 threads

worker 1:
p

[2014-05-12 18:32] #20 closed, assigned to nobody

[2014-05-14 13:23] ZhekaV opened #22 "Not started sidekiq after deploy"
Sidekiq stopped successfully, but not started after deploy
# sidekiq upstart:

description "Sidekiq Background Workers"
start on runlevel [2345]
stop on runlevel [06]
normal exit 0 TERM USR1
respawn
respawn limit 3 30
exec su - deployer -c 'cd /home/deployer/name/current && exec bundle exec sidekiq -e production -P /home/deployer/name/shared/tmp/pids/sidekiq.pid'
# added to Capfile

[code]

[2014-05-14 18:14] #22 closed, assigned to nobody

[2014-05-23 17:21] kjakub opened #23 "Not started sidekiq after deploy - if pty is true"
*\* comment is not valid - REMOVED by author

[2014-06-04 14:10] whatcould opened #24 "Restarting Sidekiq on deploy:restart"
I wanted to restart without deploying, so I ran a `cap deploy:restart`, assuming it would also restart Sidekiq; it does not seem to.

Is that just an oversight? It seems like if we automatically stop and restart on a deploy, then we should aslo be restarting on deploy:restart? At least by default? (From the code it looks like cap-sidekiq IS hooking into the `deploy` cap namespace, can't figure out

[2014-06-05 18:00] alboyadjian opened #25 "sidekiq:quiet task causes failure if bundle install hasn't run yet"
Using the sidekiq_default_hooks

[code]

Fails with:

[code]

Using:
capistrano (2.15.5)
capistrano-sidekiq (0.3.0)

Steps to replicate:
1. cap deploy a branch that doesn't include sidekiq in the bundle
2. switch to a branch that does include sidekiq, which also requires capistrano/sidekiq in the capistrano deploy file
3. attempt a cap deploy.

Workaround:
1. comment out the require for capistrano

[2014-06-10 15:18] #17 closed, assigned to nobody

[2014-06-16 07:13] #24 closed, assigned to nobody

[2014-06-30 17:25] meatherly opened #27 "Capistrano 3 sidekiq recipe isn't picking up my parameters"
I'm not sure if i'm doing something wrong or what but when I set the sidekiq options in my `deploy.rb` file nothing gets picked up. It just keeps using the default options.

I'm using

[code]

In my `deploy.rb` file I have these options set

[code]

But when I run `cap production deploy` it prints out

[code]

I'm not sure what i'm doing or not doing for it not to pick on the options?

[2014-06-30 21:53] #23 closed, assigned to nobody

[2014-07-02 18:15] #27 closed, assigned to nobody

[2014-07-11 05:45] mikeni opened #28 "question regarding deploy"
do current busy workers get killed during the deploy?

I have long running workers but frequently need to deploy but do not want the workers killed.

And what I discovered is, although the worker is killed, it is not put in retries

[2014-07-21 14:20] stereodenis opened #29 "Sidekiq does not restart"
capistrano (2.15.5)
capistrano-sidekiq (0.3.4)
sidekiq (3.2.1)

[code]

[2014-07-25 16:29] benben opened #31 "`sidekiq_tag' not found (IndexError)"
[code]

[code]

[code]

problem in version `0.3.5` of this gem. downgrading to `0.3.4` fixed it for me. happy to give more info.

:smiley_cat:

[2014-07-28 22:14] #31 closed, assigned to nobody

[2014-07-28 22:15] #28 closed, assigned to nobody

[2014-08-10 03:31] mikeni opened #36 "is there an example how to launch multiple processes with different queues?"
i want to launch 2 sidekiq daemons, one with
bundle exec sidekiq -q default -q low

and one with
bundle exec sidekiq -q high

is there any examples on how to achieve this with this gem?

[2014-08-10 08:00] #36 closed, assigned to nobody

[2014-08-20 06:04] lucascaton opened #37 "undefined method `namespace'"
When I run `cap <env> deploy`, I'm getting the following error:

[code]

My stack:
- Ruby 2.1.2
- Rails 4.0.8
- capistrano (2.15.5)
- capistrano-sidekiq (0.3.5)

[2014-08-21 06:55] #37 closed, assigned to nobody

[2014-08-21 07:28] #25 closed, assigned to nobody

[2014-09-03 20:15] rderoldan1 opened #41 "Sidekiq not start"
I know there is a [opened issue](https://github.com/seuros/capistrano-sidekiq/issues/29), but is related to capistrano 2.

This is my "environment"

[code]

when capistrano is finishing the deploy, sidekiq start is called, but always fail,

[code]

I have tried in 3 servers, but I don't know why is not working, because when I run manually the command it start properly:

[code]

Can you help me?

[2014-09-04 18:55] #41 closed, assigned to nobody

[2014-09-04 19:49] seuros opened #42 "Setting pty to false by default"
Any objection ?

[2014-09-15 08:21] rsluiters opened #44 "pidfile handling"
Sidekiq currently uses two different methods to generate the name for pidfiles: If only one Sidekiq process is running the file is only called `sidekiq.pid`, if two or more processes are running the pid files are called `sidekiq-0.pid`, `sidekiq-1.pid`, ... This leads to problems in deployment, as changing from 1 to 2 processes or back to 1 always leads to not stopped sidekiq workers.

So when e.g

[2014-09-16 20:29] #29 closed, assigned to nobody

[2014-09-28 17:17] benjaminsigidi opened #49 "tty Error"
After updating gem. Now getting

[code]

Not sure where the problem is

[2014-10-15 01:18] #42 closed, assigned to seuros

[2014-10-28 21:47] mperham opened #51 "Init support?"
Rather than have capistrano start/stop/restart Sidekiq directly, can it integrate with upstart/systemd to control the process via init?

[2014-10-28 21:53] mperham opened #52 "Inspeqtor support?"
I see you have monit support now.  Anyone want to add [Inspeqtor](https://github.com/mperham/inspeqtor/wiki) support?  Ideally you'd integrate #51 init support too because Inspeqtor does not start/stop processes on its own.

To integrate Inspeqtor, you just need to signal the start and stop of the deploy so Inspeqtor will ignore any process changes by running the following commands:

[code]

[2014-11-05 04:07] sahin opened #53 "Multiple sidekiq apps in the same server"
@seuros We love to divide our worker apps like data_services, notification, socialpost etc etc.

Does capistrano-sidekiq support multiple sidekiq process with multiple monit monitoring?

[2014-11-11 10:46] #52 closed, assigned to seuros

[2014-11-26 15:53] tenaz3 opened #55 "How do I configure url server and client ?"
Hi I would like to configure this values below in config/deploy/production.rb

[code]

Some thing like

[code]

[2014-11-26 15:59] #55 closed, assigned to nobody

[2014-12-07 06:26] sahin opened #58 "first deploy : monit: action failed -- There is no service by that name"
I am deploying a new sidekiq app ,

I got the following error.

INFO[f143e71d] Running /usr/bin/env sudo /usr/bin/monit unmonitor sidekiq_workers_vimeo_production0 on worker01.mll-worker.movielala.com
DEBUG[f143e71d] Command: ( RBENV_ROOT=~/.rbenv RBENV_VERSION=2.1.4 /usr/bin/env sudo /usr/bin/monit unmonitor sidekiq_workers_vimeo_production0 )
DEBUG[f143e71d]         monit: action failed -- There

[2014-12-09 17:52] #53 closed, assigned to nobody

[2014-12-12 03:30] #58 closed, assigned to nobody

[2014-12-12 03:31] sahin opened #59 "monit: action failed -- Other action already in progress"
@seuros , I am constantly getting the following error. Any idea?

DEBUG[af8f40cf] Command: ( RBENV_ROOT=~/.rbenv RBENV_VERSION=2.1.4 /usr/bin/env sudo /usr/bin/monit monitor sidekiq_workers_vimeo_production0 )
DEBUG[9161de6c] Command: ( RBENV_ROOT=~/.rbenv RBENV_VERSION=2.1.4 /usr/bin/env sudo /usr/bin/monit monitor sidekiq_workers_vimeo_production0 )
DEBUG[25f6f1a5]         monit: action failed -

[2015-01-07 03:40] rderoldan1 commented on #51
+1

[2015-01-21 18:56] gonzaloaune commented on #49
Im having the same error, how did you solve this ?

[2015-01-21 18:59] benjaminsigidi commented on #49
@gonzaloaune my development rails was not the same as the production one. I just updated and the error went away and i assumed that the problem was that.

[2015-01-21 19:19] gonzaloaune commented on #49
Solution for me was to stop using capistrano/sidekiq and start using sidekiq standalone as they mentioned in their site, I dont know why it doesnt work.

[2015-01-29 02:45] JeskTop commented on #49
Im having the same error, I use `cap production deploy` had this problem.
but I use `cap production sidekiq:start` can work for me.

[2015-01-29 22:01] hmcfletch commented on #51
We are trying to run sidekiq with capistrano-sidekiq and running into problems. The big one we are having is that the executable generated by Bundler give the incorrect location for the Gemile.

This line is incorrect:
[code]
After a few releases this directory is no longer there.

[2015-02-05 06:37] linjunzhu opened #64 "Cannot start the sidekiq by capistrano3"
I know there are many people have solved this problem .

But it does't work for me

Here is my `Capfile`

[code]

`deploy.rb`

[code]

Enviroment:

1. Rails 4.1.5
2. Ruby 2.0
3. Capistrano 3

[2015-02-05 06:38] linjunzhu commented on #64
When i execute `cap production sidekiq:start`

[code]

It seems to do nothing.

[2015-02-05 15:26] RajRoR opened #65 "Cannot start sidekiq with jruby-1.7.18"
DEBUG[db8a581d] 	ObjectSpace is disabled; each_object will only work with Class, pass -X+O to enable
DEBUG[db8a581d]
DEBUG[db8a581d] 	org/jruby/RubyObjectSpace.java:173:in `each_object'
DEBUG[db8a581d] 	/data/web/api.plumlytics.com/shared/bundle/jruby/1.9/gems/sidekiq-3.3.0/lib/sidekiq/cli.rb:170:in `daemonize'
DEBUG[db8a581d] 	/data/web/api.plumlytics.com/shared/bundle/jruby/1.9/gems/sidekiq-3.3.

[2015-02-05 15:42] seuros commented on #65
try to run sidekiq manually to locate the bug. I don't think it related to this gem.

[2015-02-05 16:32] RajRoR commented on #65
Thanks for quick response. I tried running this manually and got the same errot:

$ bundle exec sidekiq --index 0 --environment production --config config/sidekiq.yml --daemon

ObjectSpace is disabled; each_object will only work with Class, pass -X+O to enable
org/jruby/RubyObjectSpace.java:173:in `each_object'
/data/web/api.plumlytics.com/shared/bundle/jruby/1.9/gems/sidekiq-3.3.0/lib/sidekiq/cli

[2015-02-05 16:34] seuros commented on #65
@mperham, are you aware of this error in jruby ?

[2015-02-05 16:45] mperham commented on #65
Is the error message not obvious?  You cannot daemonize on JRuby unless you turn on ObjectSpace.

[2015-02-05 16:47] RajRoR commented on #65
I am running puma in daemonized mode successfully on jruby

[2015-02-05 16:59] mperham commented on #65
Then don't daemonize Sidekiq.  Ideally you should be using Upstart to control your services, not daemonizing manually. https://github.com/mperham/sidekiq/tree/master/examples/upstart/manage-one

[2015-02-05 17:00] #65 closed

[2015-02-06 07:01] RajRoR commented on #65
Thanks @mperham, currently I made it worked by setting `JRUBY_VERSION = "1.7.18"` in my `config/deploy.rb`. I'll integrate `runit` later.

[2015-02-12 00:37] lfalcao commented on #64
@linjunzhu

by default, this gem executes commands actions on ':app' role.

try to add, into your deploy.rb:

[code]

[2015-02-16 22:22] benjaminsigidi commented on #49
@

[2015-02-16 22:23] benjaminsigidi commented on #49
I managed to reproduce the error again. I updated my gem version to capistrano-sidekiq (0.4.0) and this brings back the error but when i lock the gem at  capistrano-sidekiq (0.3.5) i don't get any issues

[2015-02-23 09:27] linjunzhu commented on #64
@ifalcao

WTFFFFFFFF ...

I have replaced by mina.
However i saw the past code.
[code]

Maybe U are right , thx

[2015-02-23 09:47] seuros commented on #64
we probably should change it to app, wdyt ?

[2015-02-23 10:47] #64 closed

[2015-02-23 10:49] linjunzhu commented on #64
I think it should doesn't matter only if they are same role :)

[2015-02-23 21:08] blim8183 commented on #49
I rolled back to 0.3.5 and I'm not seeing the error when deploying but that seems to be because it's just not running the Monit related commands. When I try to run "cap staging sidekiq:monit:config," I get the same error.

[2015-02-23 21:14] seuros commented on #49
set :sidekiq_monit_default_hooks, false

[2015-02-25 01:26] sarkis commented on #59
I also started getting this error to a point where we needed to remove the capistrano-sidekiq gem in order to get deployments unblocked. @seuros may I ask why you need to unmonitor and monitor sidekiq during each deploy?

[2015-03-04 15:57] dreyks commented on #49
well, this is not a solution, isn't it? i do want to use the default hooks. downgrading to 0.3.5 helped indeed

[2015-03-04 18:42] seuros commented on #49
This is monit default hooks.

[2015-03-17 20:19] sebastiaandegeus opened #71 "No such file or directory @ rb_sysopen"
Sidekiq doesn't seem to be starting. This is the sidekiq log:

https://gist.github.com/sebastiaandegeus/67dc825fce4102bf13d3

[code]

[2015-03-19 19:43] jbender opened #73 "0.5.1 Changes?"
Just saw that 0.5.1 was released yesterday, but without any changelog updates, could you take a moment to add those?

[2015-03-19 20:11] seuros commented on #73
check #72

[2015-03-23 04:41] ziazek opened #75 "Custom Monit templates"
Hi,

Running ```bundle exec rails generate capistrano:sidekiq:monit:template``` resulted in
[code]

My intention is to tell Monit to restart Sidekiq if memory is exceeded. How do I use custom Monit templates? Thanks.

[2015-04-06 18:59] baweaver commented on #23
Have you tried just adding a ``nohup`` to it with a ``sleep 1`` to make sure the process forks? That's probably your issue is that an interactive shell is going to hang up before the process forks and daemonizes. It's been fairly common in the wild:

* https://github.com/fabric/fabric/issues/395
* https://github.com/sshingler/capistrano-resque/issues/91
* https://github.com/sshingler/capistrano-re

[2015-04-08 19:55] mattes opened #77 "sidekiq_timeout overrides timeout set in config/sidekiq.yml"
[`stop_process`](https://github.com/seuros/capistrano-sidekiq/blob/master/lib/capistrano/tasks/capistrano2.rb#L64) just takes [`sidekiq_timeout`](https://github.com/seuros/capistrano-sidekiq/blob/master/lib/capistrano/tasks/capistrano2.rb#L18). It should look for a timeout setting in the [sidekiq.yml](https://github.com/seuros/capistrano-sidekiq/blob/master/lib/capistrano/tasks/capistrano2.rb#L10)

[2015-04-14 02:47] ciastek commented on #75
`bundle update capistrano-sidekiq`

[2015-04-14 17:39] matt-morris opened #78 "Sidekiq fails to start via deploy, but does start via sidekiq:start"
When manually calling the start task, i.e. `cap staging sidekiq:start`, everything works just like it's supposed to. Sidekiq starts and everything is wonderful. However, the deploy task fails to start Sidekiq.

From `cap staging sidekiq:start`:
[code]

From `sidekiq.log`:
[code]

From `cap staging deploy`:
[code]

From `sidekiq.log`:
[code]

It seems like the same command is being run in both case

[2015-04-15 17:42] seuros commented on #71
Gist don't exist anymore. I will work on #78

[2015-04-15 17:43] #71 closed

[2015-04-15 17:44] seuros commented on #78
Could you show me your custom sidekiq options ?

[2015-04-15 19:55] matt-morris commented on #78
#### /config/initializers/sidekiq.rb
[code]

#### /config/deploy/staging.rb
[code]

#### /config/sidekiq.yml
[code]

#### /config/application.rb
[code]

[2015-04-15 19:56] seuros commented on #78
change `set :sidekiq_pid, File.join(current_path, 'tmp', 'sidekiq.pid')` to `set :sidekiq_pid, File.join(shared_path, 'tmp', 'sidekiq.pid')`

[2015-04-15 19:57] seuros commented on #78
or just remove it to use default.

[2015-04-15 20:16] matt-morris commented on #78
okay, well, that seems to have done the trick, although i'm struggling to understand why.

[2015-04-15 20:20] seuros commented on #78
current_path is set everytime you run the deploy to a new release folder.
Cap tries to shutdown sidekiq using pids that are inexistant in the new folder (current_path), that why you see the error. By setting them in a stable path, we can shutdown sidekiq without any issue.

[2015-04-15 20:23] matt-morris commented on #78
okay, that makes sense.  thank you for the quick reply.

[2015-04-15 20:23] #78 closed

[2015-04-20 21:07] #75 closed

[2015-04-22 14:47] bxt commented on #51
There's a gem called [capistrano-unicorn-nginx](https://github.com/capistrano-plugins/capistrano-unicorn-nginx) which configures init.d scripts and logrotate for unicorn instances. It uses [configuration templates](https://github.com/capistrano-plugins/capistrano-unicorn-nginx/tree/master/lib/generators/capistrano/unicorn_nginx/templates) and uploads them to the server with sudo. It works pretty w

[2015-04-24 07:57] alucardpj opened #79 "it is better put mothods in a library file to avoid scope conflicting"
I used a capistrano plugin ['capistrano-sneakers'](https://github.com/inventionlabsSydney/capistrano-sneakers) which is basicly forked from this 'capistrano-sidekiq'

And I encounter an error when I require both of them, the latter one will override the previous one's pid settings.

finally I found the root cause, due to this post:
http://stackoverflow.com/questions/6172292/scope-of-rakes-in-a-rai

[2015-05-08 18:07] ACPK commented on #59
@sarkis  - Did you ever find a solution?

[2015-05-21 15:55] gordonbisnor opened #82 "bundle exec cap production sidekiq:monit:config copies to / rather than /etc/monit/conf.d"
- I run  bundle exec cap production sidekiq:monit:config
- Config file is copied to /sidekiq_xxx_production.conf
- But my monit recipes are located at; /etc/monit/conf.d/sidekiq_xxx_production.conf
- Is there a configuration parameter that I am missing so set the path to monit recipes? I haven't been able to find any documentation about this.

I am using this in combination with the Talking Quickl

[2015-06-07 20:07] RobinClowers opened #83 "Role filtering doesn't work correctly"
I'm not 100% sure this gem is causing the problem I'm seeing, but a I can't see what else it would be.

I can run `cap --role web production deploy` successfully, but `cap --role utility production deploy` fails because it can't find the release on my web server. The only thing the utility role does is run capistrano-sidekiq: `set :sidekiq_role, :utility`.

This is my whole Capfile:

[code]

[2015-06-07 20:13] RobinClowers commented on #83
Let me know if I can provide more information... I'm not very experienced with troubleshooting Capistrano.

[2015-06-09 00:00] RobinClowers opened #84 "Run different queues on each role / server"
I want to run a queue on my web server for some jobs and other jobs on a utility server. It doesn't look like this is possible right now, how would feel about me implementing that functionality in a similar way to specifying processes per role?

[2015-06-09 00:02] RobinClowers commented on #83
Looks like this commit: https://github.com/seuros/capistrano-sidekiq/commit/f62a128c283a029a34f3078c516670b76794161c broke it. I'll look into fixing it tonight.

[2015-06-09 00:07] RobinClowers commented on #83
Or not, that code is inside an `on roles fetch(:sidekiq_role)` block...

[2015-06-09 01:45] RobinClowers commented on #83
This was a red herring, looks like the culprit is probably capistrano-rails.

[2015-06-09 01:45] #83 closed

[2015-06-16 09:30] dreyks opened #86 "gem is always using sudo"
I have a setup where running `monit` commands does not require using `sudo` for `deploy` user. However `capistrano-sidekiq` uses `sudo` regardless.
capistrano/capistrano#920 says

`If the gem is using sudo, then report it, as it shouldn't be doing, not at least without checking first.`

[2015-06-16 09:34] seuros commented on #86
Don't report me, we can negociate.

[2015-06-16 09:36] dreyks commented on #86
We do not negocia... oh, wait, wrong text

Let's see what capistrano suggest for such situation

[2015-06-16 09:44] dreyks commented on #86
Ok, so I think we could take platanus/capistrano3-nginx#12 as an example

[2015-06-16 10:39] seuros commented on #86
do you want to send a pr ?

[2015-06-16 10:43] dreyks commented on #86
I'll try to figure something out =)

[2015-06-16 21:11] masterkain opened #87 "failed to run command 'bundle'"
after the [last update](https://github.com/seuros/capistrano-sidekiq/commit/fba2b266ca3492c5ce030bffeb8775c70de6c713):

[code]

[2015-06-16 21:14] #87 closed

[2015-06-16 21:15] #49 closed

[2015-06-16 21:32] #73 closed

[2015-06-17 14:10] dreyks commented on #86
seuros/capistrano-sidekiq#89

[2015-06-25 20:34] #86 closed

[2015-06-25 22:40] ingolfured opened #91 "Example on front page not working?"
I copy pasted the code on the front page in section

        Different number of processes per host
to my `config/deploy/staging.rb` and it seems to only span 1 processor for each host. Am I doing something wrong?

The code I have is

        set :stage, :staging
        set :pty,  false
        set :sidekiq_role, [:sidekiq_small, :sidekiq_big]
        set :sidekiq_big_processes, 8
        set :si

[2015-06-25 23:02] ingolfured commented on #91
Alright, had version 0.52 but needed 0.53. My bad. Everything is working now.

[2015-06-25 23:02] #91 closed

[2015-07-01 18:04] EmergeIncRailsCasts opened #92 "Solution to setting environment variables"
I'm looking for a solution to set some environmental variables prior to sidekiq starting.

I've tried using `dotenv` but it didn't pick up my `.env` or `.env.production` file.
I've tried adding my ENV (source of all my variables) to my `$HOME/.profile` and it still didn't pick up those.

I've been testing by reading /proc/$PID/environ

Ideally I don't want to keep my sensitive data in `deploy.rb`

[2015-07-01 18:18] EmergeIncRailsCasts commented on #92
Okay, figured it out. `dotenv` was installed in :development, :test groups.  Adding it to :production group made it work.

[2015-07-01 18:18] #92 closed

[2015-07-01 18:19] seuros commented on #92
if you use rbenv, you don't need that gem. You can use rbenv-vars, there is similar files for rvm.

[2015-07-06 15:42] villins opened #93 "Sidekiq does not start"
[code]

[2015-07-06 16:07] villins commented on #93
and then
[code]

[2015-07-06 16:41] #93 closed

[2015-07-08 01:57] hbin commented on #92
@seuros Well, `rbenv-vars` does. But `.env` file is a more common place to put local environment variables. Since all **Procfile-based** projects respect to `.env`.

[2015-07-08 02:06] hbin commented on #92
Same issue https://github.com/bkeepers/dotenv/issues/134

[2015-07-22 12:44] Nikamura opened #94 "Sidekiq is not started after deployment"
Sidekiq is not started after deployment is finished when using 0.5.3, but works fine on 0.5.2
It doesn't start it's workers after stopping in the beginning of the deployment.
And sometimes when it fails to stop them (probably), they keep running in the wrong directory until capistrano deleted the folders and all the errors are sent to Rollbar.

[2015-07-22 12:47] #94 closed

[2015-08-03 15:39] sauliusgrigaitis commented on #59
@sarkis if sidekiq is not umonitor'ed during deployment, then after deployment you may end up with two sidekiq instances - once instance started by monit and another one started by capistrano-sidekiq.

I use workaround that works really well for me for few years now.
[code]
So I disable default sidekiq hooks and instead just stop sidekiq after deployment - very soon monit starts sidekiq again with

[2015-08-05 09:20] okoriko commented on #82
@gordonbisnor looking at the source it seems that `/etc/monit/conf.d` is default but anyway you can set it with `set :sidekiq_monit_conf_dir, -> { '/etc/monit/conf.d' }`

[2015-08-24 12:15] silentshade opened #102 "Typo"
Seems that here should be a 'cmd' local variable
https://github.com/seuros/capistrano-sidekiq/blob/e03c69bfa7cd835ab7db906c3b67ff9aa75826de/lib/capistrano/tasks/capistrano2.rb#L61

[2015-08-24 12:22] #102 closed

[2015-08-26 18:09] giorgenes commented on #59
I get this error occasionally while deploying with puma. trying again usually fix the issue. seems like a race condition.

[2015-08-27 04:59] okoriko opened #103 "Multiple processes per host support in Monit"
@seuros
Seems like one of the latests commit:
https://github.com/seuros/capistrano-sidekiq/commit/574588861839a80920e681e0e9d9c52311bf8875

Reverted changes to support different processes count per each host. It was added in:
https://github.com/seuros/capistrano-sidekiq/commit/dcab28bef45f3885d74c89faeeaa075e42fa39ed

Was this intentional?

[2015-09-07 07:04] jsantos commented on #84
I usually do this by specifying different configuration files per role, each configuration file contains the queues for which the role is responsible.

[2015-09-24 19:54] cmckni3 opened #108 "sidekiq:quiet fails on initial deployment"
I am using Capistrano 2.15.6 with capistrano-sidekiq 0.5.3.

`sidekiq:quiet` fails to run during initial deployment because `bundle:install` has not run yet so I receive the error message `bundler: sidekiqctl not found`. I tried using `deploy:cold` but it fails as well.

Bundler's integration with Capistrano runs `bundle:install` before `deploy:finalize_update` as seen [here](https://github.com/bu

[2015-09-24 20:15] seuros commented on #108
There is nothing much we can do without heavy hacks. Capistrano 3 did fix this issue.

[2015-09-24 20:37] cmckni3 commented on #108
Fair enough. I'll consider upgrade to Capistrano 3.

Closing

[2015-09-24 20:37] #108 closed

[2015-09-30 07:58] utopia2050 commented on #65
Hi @mperham , @RajRoR
I have read your discussion but I don't follow how you fixed it.
I am using jruby and I am experiencing same problem with running sidekiq as daemon with jruby.
Could you help me to solve the problem?

[2015-10-02 12:56] dziulius opened #110 "rvm1 issue"
I don't have much experience with capistrano stuff, but I've came up with issue that when running stop command, it does not use rvm-auto command.

After some digging I've found that [rvm_map_bins](https://github.com/seuros/capistrano-sidekiq/blob/master/lib/capistrano/tasks/sidekiq.rake#L15) are being set, while rvm1-capistrano3 uses [rvm1_map_bins](https://github.com/rvm/rvm1-capistrano3/blob/mas

[2015-10-02 12:58] seuros commented on #110
https://github.com/capistrano/rvm is the official rvm capistano gem.

[2015-10-02 13:01] dziulius commented on #110
I'm sysadmin an project I'm working on is setup to use [rvm1-capistrano3](https://github.com/rvm/rvm1-capistrano3).

So I'll just use local fix:
[code]

Thanks, anyway!

[2015-10-02 13:01] #110 closed

[2015-10-05 12:52] sauliusgrigaitis opened #111 "rvm1-capistrano3 support"
Capistrano-sidekiq doesn't support rvm1-capistrano3 ( #110 ). Currently there are two RVM support gems for Capistrano:

1) https://github.com/capistrano/rvm/ - maintained by Capistrano developers. Unfortunately not really usable, it works only in some specific cases.

2) https://github.com/rvm/rvm1-capistrano3 - defacto RVM support for Capistrano that works just great. Maintainers is @mpapis - RVM

[2015-10-06 05:38] chengguangnan opened #112 "Atomic operation?"
I noticed a problem which the Sidekiq received a USR1 and went down for days.

I don't recall exactly. It seems that I was making a new deployment halted the deployment-in-progress. Without noticing that the Sidekiq has been shutdown.

It actually happened once few months ago. If there is an way to make this restart atomic?

[2015-10-11 14:27] mpapis commented on #111
@sauliusgrigaitis try:
[code]
and then you could add it here: https://github.com/seuros/capistrano-sidekiq/blob/master/lib/capistrano/tasks/sidekiq.rake#L15

[2015-10-12 06:55] sauliusgrigaitis commented on #111
Thanks @mpapis, that's what we have in config/deploy.rb, because we know it. Those who don't know this - waste their time.

[2015-10-12 10:31] mpapis commented on #111
oh, then could you open a PR with the fix, it's so trivial I do not think @seuros would be against it :)

[2015-10-12 10:35] sauliusgrigaitis commented on #111
@mpapis please check above :)

[2015-10-12 10:47] seuros commented on #111
I opened a PR few days ago to fix the issue : https://github.com/rvm/rvm1-capistrano3/pull/64 .
There is multiple gems that support only capistrano/rvm gem.

[2015-10-12 11:17] seuros commented on #112
You can have inspeqtor monitor your process, if sidekiq is down for more than X minutes, you will receive an email .

[2015-10-12 11:17] #112 closed

[2015-10-13 12:43] sauliusgrigaitis commented on #111
Deadlock.

[2015-10-15 13:53] mpapis commented on #111
`rvm1-capistrano3` `1.4.0` released to add support for `rvm_map_bins`

[2015-10-15 13:55] sauliusgrigaitis commented on #111
:+1:

[2015-10-15 13:56] mpapis commented on #111
I guess we can close this one

[2015-10-15 13:56] sauliusgrigaitis commented on #111
Sure, thanks @mpapis !

[2015-10-15 13:58] #111 closed

[2015-10-22 16:42] sahin opened #114 "Upstart"
@seuros , I just saw that we made 5000 deployment with capistrano-sidekiq, we have very fast deployment and we deploy new code changes very quickly in our background process servers.

I like capistrano-sidekiq a lot, it is just a huge time saver. and one of coolest thing that capistrano-sidekiq allows us to do is that we able to make single purpose sidekiq projects. so we divided our 1 big sidekiq

[2015-10-22 17:09] seuros commented on #114
Thank you !
We can work on a solution together if you want.
I'm currently working with @lpaulmp on a feature to have multiple processes support. It will be good to have zero time restart.

[2015-10-22 17:17] sahin commented on #114
zero-time restarts will be great. is there any branch that u guys working on.

It can be also a good idea to print monit status `app_name` at the end of deployment

[2015-10-30 22:57] ACPK opened #118 "Out-of-the-box support for Active Job"
Mailers are queued in the queue mailers. It would be great to have Sidekiq to automatically start processing that queue: bundle exec sidekiq -q default -q mailers.

[2015-11-02 01:48] w1mvy commented on #114
multiple processes support and zero time restart is very nice! https://github.com/lpaulmp/capistrano-sidekiq/commits/v1
When do you release this feature?

[2015-11-02 01:54] seuros commented on #114
This week.

[2015-11-03 13:25] cvandermeer opened #119 "sudo: no tty present and no askpass program specified"
if i set pty to false i get this error

sudo: no tty present and no askpass program specified

[2015-11-05 09:23] cvandermeer commented on #119
This seemed to be an issue with my server configuration

[2015-11-05 09:23] #119 closed

[2015-11-07 20:48] tirdadc commented on #118
I had to set up config/sidekiq.yml to get mailers processed properly:

[code]

+1 on the default.

[2015-11-09 21:00] jhollinger opened #121 "sidekiq_user option ignored"
The `:sidekiq_user` option doesn't do anything - I can't even find a reference to it in the code. Am I missing something?

[2015-11-09 21:03] seuros commented on #121
https://github.com/seuros/capistrano-sidekiq/blob/master/lib/capistrano/tasks/sidekiq.rake#L219

It used to run sidekiq under another user than the one we ssh with.

[2015-11-09 21:03] #121 closed

[2015-11-09 21:05] jhollinger commented on #121
I assumed. `capistrano3-puma` has the same option, which I find very useful. Why was it removed form this gem?

[2015-11-09 21:08] jhollinger commented on #121
Oh, I see. Looks like it was recently added to master? I'm running `0.5.3` which just doesn't have it yet. So if I switch to running out of master, I can count on this feature remaining?

[2015-11-09 21:09] seuros commented on #121
i will release now 0.5.4 for you.

[2015-11-09 21:11] seuros commented on #121
Done.

[2015-11-09 21:15] seuros commented on #114
@w1mvy we tried to work on the zero time deployment, but we dropped this idea for good.
I don't think it possible to implement this feature for the simple reason that sometime there is migrations that need to be run, what will happen if workers are still spinned while the schema of the database is being changed ?

[2015-11-09 21:58] jhollinger commented on #121
Thanks for the fast response. Works for `sidekiq:start` task, but it doesn't seem to work for `sidekiq:monit:config`.

[2015-11-09 22:44] seuros commented on #121
can you fix it and open a PR ?

[2015-11-09 22:57] jhollinger commented on #121
Sure thing
On Nov 9, 2015 5:45 PM, "Abdelkader Boudih" <notifications@github.com>
wrote:

[2015-11-10 23:43] BorisBresciani opened #123 "Error sidkiq when deploy"
Hey, i have this error when I deploy my app with capistrano

sidekiq stdout: Nothing written
sidekiq stderr: No such file or directory @ rb_sysopen - /home/deploy/apps/flat-icons/shared/log/sidekiq.log

I don't understand why this error appears, thank you for your future help

Regards,
Boris

[2015-11-10 23:47] seuros commented on #123
In your deploy.rb, add something like
[code]

[2015-11-10 23:47] #123 closed

[2015-11-12 01:19] w1mvy commented on #114
@seuros

thanks for your reply.

I see.
I think, when schema of the database changed and if want to zero down time restart, there is need feature of sidekiq like `USR2` signal of unicorn. I feel difficult likely.

So, how about multi config support？ Your changes contain multi support, and there is demand for this featue. like these PR #120 #81.

[2015-11-12 01:48] imgarylai commented on #87
I got this problems, too. Is this issue fixed?

[2015-11-12 01:54] imgarylai opened #124 "bundle: command not found"
When I deployed my app, I got messages below:

I tried to run the same command on my server. It works. Actually, when I first time deployed to the server, I didn't get this message. However, When I updated my code and tried to deploy again. Things happened.

[code]

[2015-11-12 05:25] AmirolAhmad commented on #124
same as here `Running bundle exec bundle exec sidekiq --index 0 --pidfile` <-- problem here

[2015-11-12 05:41] imgarylai commented on #124
@AmirolAhmad Thanks, I got same errors when reverted back to 0.5.3. Should I do anything else?

[2015-11-12 08:57] gerodp commented on #124
Hello,

I'm having a similar problem. In my case I see this difference:

0.5.3
/home/cg/trip-app/rvm1scripts/rvm-auto.sh . bundle exec sidekiq --index 0 --pidfile

0.5.4
bundle exec sidekiq --index 0 --pidfile

[2015-11-12 09:05] seuros commented on #124
@gerodp, for rvm , you either have to use capistrano/rvm or update the rvm1-capistrano gem.

[2015-11-12 09:12] gerodp commented on #124
Yes, in fact I am using rvm1-capistrano but after updating the version of capistrano-sidekiq the command generated is not taking rvm-auto.sh anymore into account.

[2015-11-12 19:56] tirdadc commented on #124
Running into this issue and I already had `gem 'capistrano-rvm'` included along with the require in my Capfile.

[code]
This command works just fine when I execute it manually.

I tried switching to https://github.com/capistrano/rvm but it resulted in the same issue.

[2015-11-13 00:33] imgarylai commented on #124
After I reverted to `v0.5.3`, it works. But I use `rbenv`.

[2015-11-13 00:36] imgarylai commented on #124
[code]
[code]

[2015-11-14 10:32] ArturT commented on #124
I have the same problem with rbenv:

[code]

I have already in Gemfile capistrano-rbenv gem.

[2015-11-20 08:31] hbin commented on #124
@imgarylai @ArturT

Hi, guys. Could you please show me your settings for `capistrano-rbenv` in your deploy.rb?

If you have some statement like `set :rbenv_map_bins, %w{rake gem bundle ruby rails}`, then remove it or update it like this`set :rbenv_map_bins, fetch(:rbenv_map_bins).to_a.concat(%w(your command))`

[2015-11-20 11:00] imgarylai commented on #124
@hbin problem solved!

[2015-11-20 11:15] hbin commented on #124
@imgarylai :laughing:

[2015-11-20 21:19] ArturT commented on #124
@hbin I removed `set :rbenv_map_bins, %w{rake gem bundle ruby rails}` and it helped. Thanks!

[2015-11-21 08:42] #124 closed

[2015-11-21 16:21] tirdadc commented on #124
@hbin I'm using [capistrano/rvm](https://github.com/capistrano/rvm/) in this setup, not `capistrano/rbenv`. I don't have any `:rbenv_map_bins` or anything resembling that in my `deploy.rb`:

[code]

[2015-11-22 02:45] hbin commented on #124
@tirdadc @gerodp
Hi, It seems like that the RVM using a new map_bins.

Try to add the following line to your deploy.rb file:

[code]

[2015-11-22 13:18] lucasgomide opened #125 "Error when start capistrano"
Hi, when i try start the sidekiq with capistrano, i get this erro

[code]

some ideas?

[2015-11-22 13:22] seuros commented on #125
#124

[2015-11-22 13:22] #125 closed

[2015-11-22 13:40] lucasgomide commented on #125
tks (: :+1:

[2015-11-25 13:44] Martin288 opened #126 "Dependencies version conflict results in failed start sidekiq"
I tried to deploy through capistrano and expected this gem to restart my sidekiq normally, but it seems that it is always failed. Then I ssh login to the server and run the below command manually(I remove the `--daemon` option so I can see outputs from sidekiq):

[code]

It printed out the below error:

[code]

And then I decided to prepend `bundle exec` to the `sidekiq` command and it actually re

[2015-11-25 14:48] Martin288 commented on #126
I have resolved the problem, just put it below `require 'capistrano/rails'` or `require 'capistrano/bundler'` in `Capfile`, the command `sidekiq` will be mapped to `bundle exec sidekiq` automatically.

[2015-11-25 14:48] #126 closed

[2015-11-26 15:38] Salzig opened #128 "release new gem to rubygems"
there are already 14 commits on master since the 0.5.4 release. Maybe it's time to release a new version to rubygems?

[2015-11-26 16:31] seuros commented on #128
I see just 1 PR.

[2015-11-26 16:40] Salzig commented on #128
you're right.

https://github.com/seuros/capistrano-sidekiq/compare/v0.5.4...master

[2015-11-26 16:43] #128 closed

[2015-11-28 07:15] oney commented on #87
@imgarylai
In my situation, it's due to not requiring `rbenv` or `rvm` in `Capfile`.
[code]
[code]
After doing this, the problem was solved.

[2015-11-28 14:52] imgarylai commented on #87
@oney thank you for replying.
I did require my ruby version management tool in my Capfile. I opened issue #124 and was answered there. As someone mentioned in this issue, if I rollbacked to `0.5.3' and my app worked. I got this problems after I upgrade my gem list.
Anyway, I still appreciate you helping. :)

[2015-11-28 18:39] giuseb commented on #124
Using `rbenv`, but no `:rbenv_map_bins` in my config/deploy.
Reverting to 0.5.3 allowed me to deploy, but what is the actual fix here?

[2015-11-30 11:55] heaven opened #129 "Should not override options from --config file, if specified as a command line option"
I have set :sidekiq_options_per_process, ["--config config/sidekiq-common.yml"] but the logfile option is being overridden during deploy:

[code]

[2015-11-30 12:09] heaven opened #130 "Multiprocess deploy doesn't work"
Sidekiq processes are missing.

My set up:

[code]

During the deploy process I see:

[code]

But no processes were launched. PID and log files do exist, first even contain pids. Log files are empty:

[code]

Sometimes it does spawn 1 of 3 processes, sometimes 2 of 3, but I've never seen it runs all 3 of 3 processes. My guess is that it does not properly detach the process/exit to early, before ch

[2015-11-30 12:47] heaven commented on #130
Adding `sleep(3)` after this line: https://github.com/seuros/capistrano-sidekiq/blob/master/lib/capistrano/tasks/sidekiq.rake#L118 solves the problem.

[2015-11-30 13:56] heaven commented on #130
Ended up overriding the `start` task:

[code]

[2015-12-04 21:52] edslocomb commented on #44
capistrano-sidekiq is currently overriding the pidfile setting in sidekiq.yml, and that is not acceptable.

[2015-12-08 09:30] sriedel opened #133 "Please add a Changelog file"
Please add a Changelog file that details the changes between releases.
After doing a patchlevel update to 0.5.4, commit a4f508bc bit us hard in our production environment.

Thanks!

[2015-12-08 12:45] seuros commented on #133
@sriedel feel free to submit a PR. :smile:

[2015-12-08 13:34] damienh opened #134 "pidfile being appended with -0"
We are using upstart to start our sidekiq process which uses our `sidekiq.yml` (see below) on startup of the server, however when we do a deployment I can see that capistrano-sidekiq is starting a sidekiq process with these options `bundle exec sidekiq --index 0 --pidfile /var/www/staging.codeclub.org.uk/shared/tmp/pids/sidekiq-0.pid --environment staging --logfile /var/www/staging.codeclub.org.uk

[2015-12-08 15:47] bogdanRada commented on #134
+1. Have same issue

[2015-12-08 16:14] bogdanRada commented on #134
I actually had to make this make this hack in my config/deploy.rb file in order to work properly:

[code]
Maybe there is a easier fix?

[2015-12-09 11:21] damienh commented on #134
@bogdanRada can I see your deploy.rb file. I cant get your fix to work.

[2015-12-09 14:15] snovity commented on #15
I'm a little bit late to the party, just wanted to share my thoughts.

Instead of unmonitoring I chose to completely stop monit during deploy, and start it after the deploy is done. The thing is, I wanted to be always sure, that monit is monitoring the processes, so I've setup an outside service like Pingdom to monitor the web page of my monit. With unmonitoring approach, there is a chance, that m

[2015-12-23 14:04] syllogismus opened #137 "help: Invalid pidfile content"
hi, i am deploying ror4 with capistrano, but this fails:

usr/local/rvm/bin/rvm 2.1.0 do sidekiqctl stop /apps/app_a/production/shared/tmp/pids/sidekiq-0.pid 10 as administrator@domain.com
DEBUG [2f0b00a1] Command: cd /apps/app_a/production/releases/20151223140143 && ( RVM_BIN_PATH=~/.rvm/bin /usr/local/rvm/bin/rvm 2.1.0 do sidekiqctl stop /apps/app_a/production/shared/tmp/pids/sidekiq-0.pid 10 )

[2015-12-23 14:14] seuros commented on #137
can you give me the output of
[code]

[2015-12-23 14:24] syllogismus commented on #137
its empty - nothing there - i really appreciate your help!!!

[2015-12-23 14:26] seuros commented on #137
That the issue then, the file should contain the pid of the process (an integer).

delete that file manually and try to start process with capistrano, then check if there is the pid in the file.

[2015-12-23 14:40] syllogismus commented on #137
whooha - it works now, i got a file with pid#

thank you soo much!!

[2015-12-23 14:42] #137 closed

[2015-12-23 14:43] seuros commented on #137
Welcome, and happy holidays.

[2015-12-31 18:22] syllogismus opened #138 "help: RVM is not a function, selecting rubies with 'rvm use ...' will not work."
cap & rvm work just fine, but im getting an error with sidekiq, not sure why

 Running ~/.rvm/bin/rvm default do sidekiq --index 0 --pidfile /apps/domain.com/domain.com/production/shared/tmp/pids/sidekiq-0.pid --environment production --logfile /apps/domain.com/domain.com/production/shared/log/sidekiq.log --daemon as administrator@domain.com
DEBUG [b70fc839] Command: cd /apps/domain.com/domain.com

[2015-12-31 20:01] syllogismus commented on #137
do you know why this happens?
 Running ~/.rvm/bin/rvm default do sidekiq --index 0 --pidfile /apps/
domain.com/domain.com/production/shared/tmp/pids/sidekiq-0.pid
--environment production --logfile /apps/
domain.com/domain.com/production/shared/log/sidekiq.log --daemon as
administrator@domain.com
DEBUG [b70fc839] Command: cd /apps/domain.com/domain.com/production/current
&& ~/.rvm/bin/rvm default

[2016-01-06 11:38] vnazarenko commented on #103
+1 different process count is not working now (

[2016-01-14 07:20] yangtheman opened #139 "Can't start/restart sidekiq"
From log, there are no errors except killing existing process. There was none running, anyway, so I didin't think much of it. Afterwards, when I search for sidekiq process, it's not there. What's interesting is, I can run it manually via ssh console.

How can I fix this error/situation? I can't seem to find an answer online...  :(

Here is output of cap sidekiq:restart
[code]

Output of running th

[2016-01-14 07:56] yangtheman commented on #139
Answering my own question. Setting pty to false fixed the problem.
[code]

[2016-01-14 07:56] #139 closed

[2016-01-26 03:42] metavida commented on #134
Seems like this behavior (where "-0" is added to pidfiles) was intentionally added in #116 to fix #44

[2016-01-27 19:48] metavida commented on #84
I recently opened Pull #141 which adds some new config syntaxes that I think might help in your case:

[code]

FWIW, I agree with @jsantos that it's usually better to store config options (like which queues to use) within a config file. @jsantos I'm curious as to the syntax you use with the current gem to specify per-role config files for sidekiq. With my pull request the syntax would be like this

[2016-01-29 04:46] RobinClowers commented on #84
@metavida That's the same syntax I added in https://github.com/seuros/capistrano-sidekiq/pull/85, hopefully yours will get merged. :game_die:

[2016-01-29 13:59] metavida commented on #84
Thanks for the heads up, @RobinClowers! Apparently I did a relatively poor job of researching existing pulls (Pull #81 has some overlap too!) :frowning:

FWIW, Pull #141 lets you specify *any* config attribute on a per-role basis (e.g. `:sidekiq_util_log`, `:sidekiq_web_tag`, etc). Fingers crossed that that gives it a leg up on the review process, though perhaps because it changes more it'll make

[2016-02-03 12:55] Genda1ph opened #142 "capistrano-sidekiq ignores upstart job"
Hello, I've encountered an issue with capistrano-sidekiq (0.5.3) and upstart (1.12.1).
Developer asked me to install upstart config provided on sidekiq's wiki to run it as an upstart job on our staging and production servers (https://github.com/mperham/sidekiq/wiki/Deploying-to-Ubuntu).
However during deploy something strange started to happen:
1. sidekiq entered stopping state then its process di

[2016-02-10 10:21] ljachymczyk commented on #134
Is there any way to prevent appending '-0' to pidfile?

[2016-02-10 14:07] metavida commented on #134
@ljachymczyk yes! You can use v0.5.3 of this gem (the append -0 behavior was [introduced in v0.5.4](https://github.com/seuros/capistrano-sidekiq/compare/v0.5.3...v0.5.4#diff-22e72e49e022ca1b14706f04c8df5919L34) or you can try using [my company's fork of this gem](https://github.com/haikulearning/capistrano-sidekiq) which allows you to specify the pidfile name in your sidekiq.yml config file.

[2016-02-10 14:13] ljachymczyk commented on #134
@metavida that's exactly what I did. But anyway, I should be able to do this also with the most up-to-date gem version somehow.

[2016-02-22 21:49] thejohnny commented on #130
We just fought with multiprocess config as well. It seems to me that the root cause is that the `:sidekiq_processes` variable is not used if your sidekiq role is not named `sidekiq`. That variable is evaluated as `"#{ sidekiq_role }_processes"` and then fetched.

[2016-02-28 07:54] kakra commented on #51
I'm currently using the following user instance template for systemd:

[code]

I'm still trying to figure out how to put "systemctl --user {enable|start|stop} sidekiq@myapp.service" into the capistrano deployment correctly. BTW: You need "loginctl enable-linger" on the deployment user for this to correctly apply after reboot and after logout.

[2016-03-10 16:32] Kukunin opened #147 "capistrano-sidekiq is broken with capistrano-rbenv"
I've figured out, that this commit breaks sidekiq capistrano task: https://github.com/seuros/capistrano-sidekiq/commit/8a49d7608e08a61a6f9d652225014565caecd982.

I get this command running:

[code]

Instead, I expect this command to run

[code]

[2016-03-10 17:08] seuros commented on #147
You are using bundler, you should add capistrano-bundler to your gem files.

[2016-03-12 10:12] stefanosc commented on #147
same issue here, reverting to 0.5.3 prevents it.

[2016-03-12 19:28] stefanosc opened #148 "monit template syntax error"
Hello and thank you for your work.

I am getting in touch as I am facing a monit syntax error which I cannot fix unless I simply remove the option in question.

This is the error I get after adding the generated template:
`/etc/monit.d/sidekiq_value_letters_staging.conf:5: Error: syntax error 'timeout'`

I checked the monit docs and I really can't see any issue
https://mmonit.com/monit/documentati

[2016-03-12 20:52] stefanosc commented on #119
@cvandermeer could you share how you fixed the issue?
I had exactly the same issue and setting pty to true didn't make it work (it prompted for password but then got stuck)
At the moment I set my deploy user as:
[code]

But that is less than ideal.
I would appreciate knowing if you found any other solution that worked for you.

Thank you!

[2016-03-15 09:31] muhammet commented on #59
Any updates ?

[2016-03-21 11:37] stefanosc commented on #147
@Kukunin did you find a way to get the latest release to work?

[2016-03-21 11:40] stefanosc commented on #119
@seuros I am also having this issue, and tried many of the suggestions shared on stackoverflow or the cap google groups... Including commenting out `#Defaults    requiretty` in /etc/sudoers.
I would really appreciate if you could share any suggestions on anything else to do to fix / debug this issue. thank you!

[2016-03-30 22:22] stefanosc commented on #147
@Kukunin @seuros  could you share anything?
Thank you!

[2016-03-30 22:23] stefanosc commented on #119
@cvandermeer @seuros could you share anything?
Thank you!

[2016-03-31 15:29] embasbm opened #150 "sidekiq not showing "INFO: Starting processing" when using capistrano-sidekiq"
I am not sure what I'm missing but somehow I don't get the line:

`2016-03-31T14:51:09.506Z 14008 TID-42xd8 INFO: Starting processing, hit Ctrl-C to stop`

which does show up if I start sidekiq manually from the prompt line.

I am having this error because I am using capistrano-sidekiq to manage sidekiq withing capistrano, in the log file all I got is:

[code]

Because the last line is missing

no

[2016-04-01 04:05] ziazek commented on #124
Adding the following to deploy.rb worked for me.

[code]

[2016-04-01 09:11] #150 closed

[2016-04-01 09:12] embasbm commented on #150
The problem was because I was setting sidekiq config file as:
`set :sidekiq_config,    ->  { File.join(shared_path, 'config', 'sidekiq.yml') }`
when it should be as:
`set :sidekiq_config,    ->  { File.join(current_path, 'config', 'sidekiq.yml') }`

[2016-04-07 09:06] gaogao1030 commented on #124
@ziazek thanks. that worked for me,i think the way is right!

[2016-04-07 22:57] ShubhamGupta commented on #124
This must be put in Readme.

[2016-04-18 18:08] simonasdev commented on #142
Would really like this feature

[2016-04-21 16:08] salgo opened #151 "Reducing sidekiq_processes in Capistrano file does not kill existing processes"
We had 2 processes and we reduced the sidekiq_processes 1 in the Capistrano config/deploy/env.rb file and although the monitrc configuration was updated correctly, we saw the following problems:
1. the other process wasn't `sidekiqctl quiet` and then killed
2. it wasn't `monit unmonitor`
3. it wasn't killed either.

This is leading me to believe such a change is simply not supported as it doesn't

[2016-04-21 16:39] seuros commented on #151
@salgo you are right. This change is not supported .
As workaround:
* Quiet all processes.
* Unmonitor them
* Stop them when they finish.
* change your configuration to 1
* regenerate the monite configuration and start sidekiq.

[2016-05-19 10:16] dsawa commented on #77
+1

Setting in sidekiq.yml is ignored.
Workaround:

[code]

[2016-05-19 18:31] dylanz commented on #130
+1 @thejohnny.  setting `set :sidekiq_role, 'sidekiq'` did the trick.

[2016-05-22 19:05] guillehorno commented on #147
Hi,
I faced the same issue and diggind around the capistrano-sidekiq code found this setting that made the `bundle exec` work correctly (with the env variables of rbenv). You just need to add this into the deploy.rb file

`set :rbenv_map_bins, fetch(:rbenv_map_bins).to_a.concat(%w(sidekiq sidekiqctl))`

Hope it helps.

[2016-05-23 10:12] mdesantis commented on #123
What if tmp is already included in linked_dirs? I get the error Too many levels of symbolic links now

[2016-05-26 18:51] Paprikas commented on #147
I have just added to default rbenv_map_bins
`set :rbenv_map_bins, %w(rake gem bundle ruby rails sidekiq sidekiqctl)`

[2016-05-28 06:47] brahmadpk opened #152 "monit template error"
Hi,

When using the included monit template, the following error is thrown:

[code]

The same error also appears for sidekiq_require

Without the template, it works well.

Am I missing something that needs to be defined in deploy.rb? Thanks in advance for help.

[2016-06-20 18:07] abrambailey opened #154 "Sidekiq never processes queue"
Using capistrano 3.4.0 I have the following in my deploy.rb for sidekiq
[code]
Then in my sidekiq.yml
[code]
When deploying I see:
[code]
When viewing the sidekiq admin I see:

![image](https://cloud.githubusercontent.com/assets/978462/16205117/eac90f4a-36e7-11e6-9c5d-4f4bb3010064.png)

[2016-06-20 18:42] seuros commented on #154
`set :sidekiq_env, ['production', 'qa']`   is wrong. set it to either qa or production.

[2016-06-20 18:43] abrambailey commented on #154
I removed that line completely and it began working, just before you typed this. So how would I enable on both environments? Just leave it blank?

[2016-06-20 18:44] seuros commented on #154
you set it in both `deploy/qa.rb` and `deploy/production.rb` to it respective value.

[2016-06-20 18:45] abrambailey commented on #154
Oh I see. Sorry, sort of a n00b with capistrano. Thanks.

[2016-06-20 18:48] seuros commented on #154
No problem. 👍

[2016-06-20 18:48] #154 closed

[2016-06-24 15:19] codener opened #156 "Pidfile setting from sidekiq.yml is ignored"
`capistrano-sidekiq` is currently overriding the `pidfile` setting in `sidekiq.yml`. It should respect that setting, please.

[2016-06-24 15:21] codener commented on #44
I opened a new issue on this: #156.

[2016-06-29 07:54] andreydeineko opened #157 "deploy fails on sidekiq:start"
I simply installed the capistrano-sidekiq gem and did not customize any settings.

[code]

Does anyone have hints on what's going on, what is it looking for in `/usr/bin/env` and main question: how do I solve it?

[2016-07-02 04:52] zackperdue commented on #154
Did you ever get your queued jobs to process?

[2016-07-13 20:16] darrenleeweber opened #159 "Add rake tasks for sidekiq stats and queue management"
See https://github.com/mperham/sidekiq/wiki/Console-commands

It would be great if these could be run via capistrano.

[2016-07-18 09:35] nextofsearch commented on #152
Hi,

I am having the same problem but only in staging, not in production. The settings are virtually the same in both. I am lost here.

[2016-07-18 09:37] nextofsearch commented on #152
Here's the more detailed error:

`cap staging sidekiq:monit:config --trace
** Invoke staging (first_time)
** Execute staging
** Invoke load:defaults (first_time)
** Execute load:defaults
** Invoke rvm:hook (first_time)
** Execute rvm:hook
** Invoke rvm:check (first_time)
** Execute rvm:check
rvm 1.27.0 (latest) by Wayne E. Seguin <wayneeseguin@gmail.com>, Michal Papis <mpapis@gmail.com> [https://r

[2016-07-18 09:52] nextofsearch commented on #152
Hi, I solved it.

You need to specify the repository of the gem as below. I don't understand why this makes a difference.
-  gem 'capistrano-sidekiq'
+  gem 'capistrano-sidekiq', github: 'seuros/capistrano-sidekiq'

[2016-07-18 10:06] nextofsearch commented on #151
@seuros
Hi,
I had the same issue. So I specified 'set :sidekiq_processes, 1' in staging.rb and production.rb but the setting does not work. It only works when I put it in deploy.rb. I thought that settings in stage-specific files will override the ones in deploy.rb. Am I misunderstood here?

[2016-07-28 08:57] dreyks opened #160 "capistrano 3.7.0 warning"
After upgrading to capistrano 3.7.0 the following warning pops up on deploy

Skipping task 'sidekiq:stop'.
Capistrano tasks may only be invoked once. Since task `sidekiq:stop' was previously invoked, invoke("sidekiq:stop") at <path_to_gems>/capistrano-sidekiq-0.5.4/lib/capistrano/tasks/sidekiq.rake:172 will be skipped.
If you really meant to run this task again, first call Rake::Task["sidekiq:stop

[2016-08-02 07:30] gaogao1030 commented on #160
same problem for me

[2016-08-09 07:47] attenzione commented on #160
everyone, who uses new 3.7 version will get this warning

[2016-08-19 14:32] musashinm commented on #160
I'm with Cap 3.6 and I got the same problem.

[2016-08-20 23:19] kalinchuk opened #161 "Separate config per role"
It would be nice to set separate config files per role. For example, `role_1` should only process the `low_priority` queue and `role_2` should only process the `high_priority` queue. That could be configured in a `config.yml` file per role or something.

[2016-08-21 00:03] kalinchuk commented on #161
Right now I run a task before sidekiq restarts to copy over the correct config file to `sidekiq.yml` depending on the role.

[2016-08-25 18:40] marcoschicote opened #162 "JRUBY_OPTS not taken into consideration"
Hi
I want to specify JRUBY_OPTS as part of my deploy process. I have added the following line to the deploy.rb file:

[code]

However, after deploying I do ps aux | grep java and _puma_ has started with the corresponding jruby parameters but sidekiq hasn't. Is this a decision or was never a requirement? Is there a workaround?

Thanks!

[2016-08-29 08:41] moiristo commented on #160
+1

[2016-08-31 12:37] j3ck commented on #157
i have similar issue, you should manually create shared/log/ dir and add to deploy.rb,
[code]
i do not like this solution

[2016-09-07 09:41] davidwessman commented on #51
@kakra Did you get this setup to work with Capistrano?
Then you configure the Timeout to be the same for Sidekiq and Capistrano?

[2016-09-12 21:27] kakra commented on #51
I don't understand what you refer by "Timeout" but the following snippet in deploy.rb works for me:

[code]

Additionally, I found that putting depends like "After=redis.service" has no effect as redis is part of the system set of services while sidekiq is part of the user set of services. Cross-linking between those sets seems to be impossible. I already posted to the systemd mailing list but rec

[2016-09-12 23:15] davidwessman commented on #51
Thank you for your response @kakra
The _timeout_ I referred to is the last thing you mention, when trying to gracefully stop sidekiq.

I ended up with this:
[code]
Where I configure `systemctl reload sidekiq` to send the `kill -USR1`signal.

And in my `deploy.rb`:
[code]

It appears to be working ok, however I am not issuing any long running jobs at the moment.

[2016-09-15 12:22] williamn opened #163 "Param in deploy.rb is ignored"
Hello!

In `config/deploy/staging.rb` I have set `deploy_to` to `'/home/deploy/htdocs/cms'`

    set :deploy_to, '/home/deploy/htdocs/cms'

But capistrano-sidekiq seems to ignore that

    INFO [50115366] Running ~/.rbenv/bin/rbenv exec bundle exec sidekiq --index 0 --pidfile /var/www/cms/shared/pids/sidekiq-0.pid --environment production --logfile /home/deploy/htdocs/cms/shared/log/sidekiq.log --

[2016-09-19 01:19] Qasem-h commented on #160
+1

[2016-09-20 08:17] williamn commented on #163
I resolved this issue by moving

    set :sidekiq_pid, File.join(shared_path, 'pids', 'sidekiq.pid')

to each staging configuration file e.g. `deploy/staging.rb`

[2016-09-20 08:17] #163 closed

[2016-09-21 08:55] williamn commented on #160
Any idea how to handle this?

[2016-09-27 13:35] lloydwatkin commented on #160
I was seeing the same on 3.6.1 (and annoyingly this left me with several sidekiq jobs running per host). However #164 I no longer see the warning and I'm back to single instances of sidekiq jobs \o/

[2016-09-27 13:35] lloydwatkin commented on #160
It would be good to get a new gem released though :)

[2016-09-29 18:56] kyledecot commented on #160
+1

[2016-10-01 05:31] jsantos opened #165 "Different number of processes per host? (Capistrano 2)"
On my configuration, I have the following (as suggested in [here](https://github.com/seuros/capistrano-sidekiq#different-number-of-processes-per-host)):

[code]

Having `:master` and`:slave` roles defined on my `deploy.rb`.

Although, when I try to use a simple task like `sidekiq:start`, something odd happens:

[code]

It looks like sidekiq is starting on process on both servers (when it was just

[2016-10-04 15:42] IvoGuerreiro commented on #160
+1

[2016-10-17 10:20] Unnumbered commented on #157
You can try use previous version of gem (0.5.3).
This issue could appeared after https://github.com/seuros/capistrano-sidekiq/pull/104 .

[2016-10-18 19:17] jrtowell commented on #160
+1

[2016-10-19 12:21] sandfoxme commented on #157
If it's really connected to bundle_bins, try to require ``'capistrano/sidekiq'`` AFTER ``'capistrano/bundler'`` in Capfile. I had similar issue and it helped

[2016-10-19 14:23] maduhaime commented on #160
+1

[2016-10-27 15:28] absolu7 commented on #160
+1

[2016-10-27 16:05] IanWhitney opened #166 "Changes to monit template file are not deployed if an existing config file exists on the server"
[This task](https://github.com/seuros/capistrano-sidekiq/blob/951995f08e1aa790fff3a2cf18b0c3a3c8bf918d/lib/capistrano/tasks/monit.rake#L28) uploads the generated monit file to its home on the server.

As far as I can see, that task is only ever called [from here](https://github.com/seuros/capistrano-sidekiq/blob/951995f08e1aa790fff3a2cf18b0c3a3c8bf918d/lib/capistrano/tasks/monit.rake#L47), if the

[2016-10-31 18:20] danilogcarolino commented on #160
+1

[2016-11-08 03:11] marlosirapuan commented on #160
+1

[2016-11-08 15:39] kyledecot opened #167 "Update Monit config to more Specific Check"
Currently the monit config just checks that the sidekiq process is running however my team recently ran into an issue where the sidekiq process was running but was somehow stuck in the "shutting down" stage. Perhaps we could check that the status is something like `sidekiq 4.1.2 app [0 of 25 busy]`?

[2016-11-10 18:43] cesc1989 commented on #139
@yangtheman dude, setting `:pty` to false solved me a problem when restarting sidekiq. Thanks.

[2016-11-17 15:35] mdesantis commented on #160
+1

[2016-11-20 22:07] ivanovaleksey commented on #160
Hi guys!
I also have this problem with Capistrano 3.6.1.
I use master branch in my project like
[code]
and it seems to be working fine.

How about to push new gem version?
It is more than a year now since [last release](https://rubygems.org/gems/capistrano-sidekiq/versions).

[2016-11-29 09:40] ignisf commented on #160
Hey, @seuros, thanks for https://github.com/seuros/capistrano-sidekiq/commit/339c42e24f42d8d72173daae832b23504930f941 and releasing the new version. Just writing a comment here to ping everybody subscribed to this issue. :)

[2017-01-09 13:26] lbraun commented on #147
We are using rvm so I had to add:
[code]
Using concatenation did not work. Can anyone explain why this is necessary? Does this capistrano-sidekiq delete the default rvm_map_bins somehow?

[2017-02-07 21:11] Sathors commented on #119
Hi @stefanosc, in case you or someone else is still unsure about this, I would recommend putting the following line in your sudoers file:
`deploy         ALL= NOPASSWD: /usr/bin/monit`

This gives permissions to the deploy user only to the monit command (without a password prompt), hence preventing privileges escalation (or at least making it MUCH harder).
For the moving of the template.conf file

[2017-02-08 00:01] Sathors commented on #92
Somebody has any news on this?
It seems  that sidekiq does not get access to the .env* variables. I have access to them in a rails console, but not in sidekiq.

[2017-02-08 00:32] Sathors commented on #92
Actually, when I use exactly the same command than the one used by capistrano to execute sidekiq, from inside the current/ directory, it works fine.
When run by the capistrano-sidekiq gem, it does not find the dotenv variables.

Would it be related to bkeepers/dotenv/issues/134?
I don't understand how it could be different, because normally the command should be run in the 'current' directory by c

[2017-02-08 15:21] stefanosc commented on #119
Hello @Sathors this is actually what I ended up doing.
In case anyone else lands here, I found the following capistrano guide on topic useful:
http://capistranorb.com/documentation/getting-started/authentication-and-authorisation/#toc_8

[2017-02-12 17:08] vnazarenko commented on #161
Also #117 could help.

[2017-04-26 15:18] ivanovaleksey opened #172 "New signals in Sidekiq 5.0"
Hi @seuros,

according to [release notes](https://github.com/mperham/sidekiq/blob/master/5.0-Upgrade.md)

It seems like we can update signals, bump required Sidekiq version in gemspec, and update major version of the capistrano-sidekiq.

What do you think?

[2017-04-27 09:34] twetzel opened #173 "p -T"

[2017-04-27 09:34] #173 closed

[2017-04-27 09:35] twetzel commented on #173
excidently typing in browser window now opens issues .. sorry

[2017-05-30 09:58] tomdev opened #174 "Sidekiq should restart after deploy:failed"
Sidekiq should get restarted after a failed deploy.

Currently, Sidekiq will still be monitored but running in quiet mode a.k.a. not accepting new jobs. This state should get corrected after a failed deploy.

A failed Capistrano deploy will not trigger `deploy:updated` to stop Sidekiq or `deploy:published` to start it again.

[2017-06-13 19:42] shaunakv1 commented on #51
Without init support, capistrano-sidekiq will start the server with a bundle exec... What happens if a server restarts for maintenance.  When server comes back online, is it wrong to assume that sidekiq instance started using capistrano-sidekiq will never come back online?

[2017-06-13 20:07] davidwessman commented on #51
@shaunakv1 That is quite what I described in my last post.

[2017-06-14 14:00] shaunakv1 commented on #51
@davidwessman agree and in-fact that is what made me ask whether or not capistrano-sidekiq supports the tasks out of box. I am assuming for the tasks you have posted one would have to install sidekiq as systemctl outside the capistrano right? and then just use capistrano to manage its life cycle? essentially not needing this gem at all?

[2017-06-14 14:12] davidwessman commented on #51
Well, them gem is used in all the background jobs.

I created a [systemd service](https://gist.github.com/davidwessman/4f236af00981da967088d087f232b79b) like this and let the user running the rails app run these commands as sudo without a password (configurable in Debian).

[2017-06-21 22:40] Aleksandaar commented on #124
If you are using commands like:

     execute <<-CMD
        bundle exec thin start -C config/thin.yml
      CMD

Replace them with something like:
      within current_path do
        execute :bundle, "exec thin restart -C config/thin.yml"
      end

[2017-06-22 03:49] kumagi opened #175 "Why not use `bundle exec sidekiq` ?"
In my environment, `cap production sidekiq:start` dies immediately.
The capistrano's boot up sidekiq via below command.

[code]

It uses system installed `sidekiq`(e.g. /usr/local/bin/sidekiq it may not installed).
And it bytes me environment related bug.

How about boot up sidekiq via

[code]

command? It worked me in CLI test.

[2017-06-22 09:58] seuros commented on #175
You either not using capistano-bundler or overriding a default option.
show me your deploy.rb

[2017-06-22 16:22] kumagi commented on #175
https://gist.github.com/kumagi/99b20d12cf1d5c5b27a7b5793fb51798
I could not find the corresponding option to use bundler. Please let me teach.

[2017-06-22 16:23] kumagi commented on #175
From `Gemfile.lock` I found capistrano-bundler
[code]

[2017-06-22 18:54] kumagi commented on #175
I finally resolved. Adding below configuration in my `deploy/production.rb`

```set :bundle_bins, %w{gem rake rails sidekiq}```

It works well for me. How about writing it in README.md?

[2017-06-27 15:51] lloydwatkin opened #176 "Make capistrano wait for empty busy queue"
Currently when I deploy sidekiq is set to 'quiet' but force stopped shortly after. This means that some of my longer running jobs are killed and restarted (in some cases sending 2 notifications to users).

Is there a way to get the deployment to wait for the busy queue to be empty after quiet command has been sent and the rest of the deployment proceeding?

[2017-07-12 18:39] jkarnesPerfectCube commented on #147
It does not delete them, but it does set them based on what currently exists: `set :rvm_map_bins, fetch(:rvm_map_bins).to_a.concat(%w(sidekiq sidekiqctl))`

[2017-07-18 04:56] rodrigomanhaes commented on #175
Same problem here.

Definition of `bundle_bins` does not seem to be the solution, since capistrano-sidekiq [itself](https://github.com/seuros/capistrano-sidekiq/blob/339c42e24f42d8d72173daae832b23504930f941/lib/capistrano/tasks/sidekiq.rake#L18) currently does it.

When I force gem code to run without `--daemon` option, local execution is stuck (as expected) and remotely the sidekiq process is run

[2017-09-04 17:10] madakopihub commented on #49
https://stackoverflow.com/questions/21659637/how-to-fix-sudo-no-tty-present-and-no-askpass-program-specified-error

`jenkins ALL=(ALL) NOPASSWD: ALL`
Put the line after all other lines in the sudoers file.

[2017-09-10 05:26] goravbhootra commented on #124
If you are using gem rvm1-capistrano3 and rvm, then following needs to be added:

`set :rvm1_map_bins, %w{rake gem bundle ruby puma pumactl}`

[2017-09-16 20:49] taariq commented on #174
@tomdev It's been a few months since you posted. How did you and your team resolve this issue? Any ideas?

[2017-09-18 08:44] tomdev commented on #174
To make sure Sidekiq gets restarted we adding the following to our `config/deploy.rb`:
[code]

On failed deploys this will stop Sidekiq that's running in "quiet" mode and start it normally again.

[2017-09-18 18:12] taariq commented on #174
Thanks @tomdev. We just tested it and it looks like it rocks as a way to solve this problem. @seuros. Shouldn't this be set on by default on the capistrano script?

[2017-09-28 11:21] betelgeuse opened #178 "CHANGELOG entry missing for 0.20.0"
release v0.20.0 is tagged and released in rubygems but CHANGELOG file has no entry for it.

[2017-10-19 15:17] AlexanderFisenko commented on #84
Did they finally add this functionality?

[2017-11-18 22:29] irfanfadilah commented on #157
Put "capistrano/sidekiq" after "capistrano/rails" worked for me.

[2017-11-21 20:18] TJM opened #181 "Make sidekiq:monit:config optional (`sudo mv` is bad)"
We have an application team wanting to use the monit portion of this code to "unmonitor" and "monitor" sidekiq during deployments (to prevent duplicate sidekiq processes), which seems like a good idea. However, the rake task sidekiq:monit:config is trying to overwrite the monit configuration unconditionally. It is not idempotent, it reconfigures monit and reloads it every time. I realize that they

[2017-11-30 13:37] thibaut-poullain opened #182 "Sidekiq exit status 1 on deploy"
Hi @seuros , hi everyone,

After A LOT of research, I come here to expose the problem I'm struggling with : a sidekiq stop with status 1.

- Ruby 2.4.2p198 (2017-09-14 revision 59899) [x86_64-linux]
- capistrano 3

I've got an other app with a sidekiq launched :

[code]

The shared_path/tmp/pids/sidekiq.pid show a number : 12783

I'm pretty despaired, I tried everything since 2 day... Have you got

[2017-12-26 21:06] alejandrobarrios07 opened #185 "Error with sidekiq:monit:config task"
Hi, we are having problem when trying running the `sidekiq:monit:config` task, getting this error.

[code]

The file upload to the default tmp directory and if we manually move it to the monit folder works correctly, but the task fail and interrupt the execution. We also set all the environments variables that the documentation list and the task still end the execution before complete, throwing us

[2018-01-05 15:29] vizcay commented on #23
I've been recently bitted by this same issue and I didn't wanted to remove the pty setting because I was pretty sure it was there because of something. Because I was writting manualy my task I just added **&& sleep 2** to the end of it to allow the process to fork before capistrano disconnects (found the explanation here: http://blog.hartshorne.net/2013/03/capistrano-nohup-and-sleep.html)

[code]

[2018-01-08 08:41] skandragon commented on #185
I "fixed" this by moving the lines in `Capfile`:

[code]

to be after these lines:

[code]

Note that the working order seems to be:

* require the rails stuff
* require sidekiq and sidekiq/monit stuff
* require nginx and puma stuff

Any other order seems to cause something to fail, including a similar message when capistrano is handling nginx stuff, due to what seems to be a conflict between `use

[2018-01-08 08:45] skandragon commented on #185
I was wrong; there is no working order to get sidekiq, sidekiq/monit, nginx, and rails all in the same `Capfile`.  With the order I suggested, I get:

[code]

[2018-01-08 08:53] skandragon commented on #185
BTW, the reason I am guessing at conflict between `use_sudo?` and such is this trace, where I don't expect to see anything monit related, yet I do:

[code]

[2018-01-08 17:51] skandragon opened #186 "order in Capfile is critical, seems to interfere with nginx and rails cap plugins"
The order in the Capfile is critical, in that the sidekiq monit tasks seem to interfere with some other tasks.  I'm not sure if they are behaving poorly or monit/sidekiq are.

See #185 for some details.

[2018-01-09 01:07] alejandrobarrios07 commented on #185
i have in this order and the issue continues

[code]

[2018-01-16 23:50] jaredSiebert opened #187 "Capistrano Sidekiq vs SSH Sidekiq"
I could really use some assistance in understanding what's going wrong here...

When using `cap production sidekiq:start`, my sidekiq logs on the server are filled with errors of *"Error while trying to deserialize arguments: Couldn't find User with 'id'=1"*

When I SSH into the server and run `bin/bundle exec sidekiq -C config/sidekiq.yml -e production -L log/sidekiq.log` everything runs perfectl

[2018-01-25 17:55] codebycliff opened #191 "Version 1.0.0 seems to be ignoring the `sidekiq_role` that is set."
After upgrading from `0.20.0` to `1.0.0`, Sidekiq is now being started on all of our app servers, regardless of the role set. Downgrading to `0.20.0` fixes it so that it only starts Sidekiq on the server that has that role specified.

Our configuration is as follows:

# config/deploy.rb

`set :sidekiq_role, :worker`

# config/deploy/production.rb

[code]

Thanks in advance.

[2018-01-26 08:39] Looooong commented on #191
It is because `sidekiq_role` is changed to plural form `sidekiq_roles`

[2018-01-26 17:52] codebycliff commented on #191
Sounds good. Should it be added to the changelog as a breaking change now for people that haven't upgraded?

[2018-01-31 18:39] rhomeister commented on #191
This was pretty painful for me to find and fix. A deprecation warning or something would have been appreciated....

[2018-02-11 18:41] mensfeld commented on #191
Despite changing that it still does not work :/

[2018-02-19 18:33] danielolivaresd opened #194 "Log destination"
Any way to have Sidekiq log to the standard `Rails.logger`? We are using a service as an aggregator for all logs and would like to have Sidekiq's logs included just as if they were regular Rails app logs.

[2018-02-23 09:47] mensfeld commented on #191
Guys any news on that one? I could help if needed

[2018-02-26 08:11] Looooong commented on #191
Mine works fine. Do you set the role on the server properly?

[2018-03-27 10:31] jsantos commented on #191
The same is happening to me. Other gems recognize my roles just fine, but this one is not recognizing them, which turns out to be a nightmare since the process number is not interpreted correctly.

@Looooong I'm defining the roles using the server-based syntax, are you doing it in a different way by any chance?

[2018-03-28 04:18] Looooong commented on #191
I use Capistrano 3.10.1. Here is how I config the Sidekiq:

[code]

[2018-03-28 06:54] jsantos commented on #191
@Looooong yeah I'm using the exact same versions.

I believe the issue only occurs when there is more than one role (I control the number of sidekiq processes based on the role by using `<role>_processes`.

[2018-03-28 07:46] jsantos commented on #165
Processes per role is not available on Capistrano 2. Closing this since I forgot to do it earlier and it isn't supported anymore.

[2018-03-28 07:46] #165 closed

[2018-03-28 08:18] mensfeld commented on #191
@jsantos same here - exactly the same case.

[2018-03-28 10:02] Looooong commented on #191
You guys should take a look at [sidekiq.rake:142](https://github.com/seuros/capistrano-sidekiq/blob/master/lib/capistrano/tasks/sidekiq.rake#L142) to see if there is any problem with the code. I don't see any problem with it, perhaps you can.

[2018-03-29 04:59] jsantos commented on #191
Guess I've found the issue. After much debugging I figured out the issue lies exactly where @Looooong pointed out.

The `.select!` on `sidekiq_roles.select! { |role| host.roles.include?(role) }` is mutating `:sidekiq_roles`. So, for the first role the list of pidfiles is correctly returned, but the same won't happen to further method calls.

Example:

[code]

Without mutating the `sidekiq_roles` v

[2018-03-29 05:04] Looooong commented on #191
Good finding there! I have never thought that `sidekiq_roles = Array(fetch(:sidekiq_roles))` would return the original array.

[2018-03-29 06:26] jsantos commented on #191
@Looooong Yeah, that's why it took so long to debug.

For reference:

[code]

[2018-03-31 15:12] mensfeld commented on #191
@jsantos any chance on releasing 1.0.1?

[2018-04-01 06:47] jsantos commented on #191
@mensfeld I just issued the PR, but don't have the power to merge it... @seuros might need to weight in

[2018-04-03 17:06] FunkyloverOne commented on #175
@kumagi, @rodrigomanhaes,
I had the same issue, and to fix it - I simply moved `require 'capistrano/sidekiq'` line in Capfile lover, I guess it should go lover than `require 'capistrano/bundler'` line.

[2018-04-03 21:02] #51 closed

[2018-04-04 00:31] #191 closed

[2018-04-04 11:16] GodlikeSpam0r opened #199 "Systemd install fails due to typo"
On line [L152](https://github.com/seuros/capistrano-sidekiq/blob/master/lib/capistrano/tasks/sidekiq.rake#L152) there should be `on roles fetch(:sidekiq_roles) do |role|` instead of `on roles fetch(:sidekiq_role) do |role|` (`:sidekiq_roles` vs `:sidekiq_role`).

This prevents the `sidekiq:install` task from completing successfully if `:sidekiq_role` is not set manually.

P.S: I also had to set th

[2018-04-04 12:02] #199 closed

[2018-04-09 16:12] gregawoods commented on #160
I also started seeing this warning today. Using capistrano 3.10.1 and capistrano-sidekiq 1.0.1. If it makes any difference, I am using `capistrano/sidekiq/monit` as well.

[code]

[2018-04-10 13:54] scmx commented on #160
Same here `capistrano (3.10.1)` and `capistrano-sidekiq (1.0.1)`
[code]

[2018-04-12 19:18] #159 closed

[2018-04-12 19:45] seuros commented on #160
fixed in 2a9e46f and 1.0.2

[2018-04-12 19:45] #160 closed

[2018-04-20 08:29] lloydwatkin opened #200 "Ignoring 'roles' config"
Hi, seems to be linked to seuros/capistrano-sidekiq#191, I've upgraded to 1.0.2 and sidekiq is coming up on all my hosts on deploy (not just the specified role). Other config is being set so its not a case of the config file being read.

Here's my `config/sidekiq.yml`:

[code]

...and I can confirm that downgrading to 0.20.0 works as expected.

[2018-04-26 09:27] f6p opened #202 "systemd ExecStart missing -C option for sidekiq_config"
When :sidekiq_config is set systemd template does not pass -C option to skidekiq executable, so the config is not applied.

[2018-04-26 15:56] f6p opened #203 "run systemd ExecStart command as login shell"
For example:

Rails 5.2 introduced encrypted credentials. One way master key can be stored is via `ENV["RAILS_MASTER_KEY"]`. If ExecStart is not executed as login shell variables set in .bashrc are not available, credentials decrypted and app crashes here and there depending on how they are referenced.

Would it be possible to wrap systemd template command in `/bin/bash -lc "..."`?

Cheers :wine_g

[2018-05-02 09:52] Arslan-Ali-Butt commented on #185
Any solution so far for this issue?

[2018-05-02 18:28] chadwilken opened #204 "Generated monit config file missing application"
When the monit config file is generated it is missing the application variable and is just `sidekiq__env.conf` but inside the config it has the correct value such as `check process sidekiq_app_env_0`

[2018-05-06 00:04] xiewenwei commented on #204
I have fix it.  see [PR 205](https://github.com/seuros/capistrano-sidekiq/pull/205)

[2018-05-25 03:55] falm commented on #200
In v1.0 you should change config/deploy.rb (or config/deploy/production.rb) with the following
[code]

[2018-06-05 08:48] rahulmurkute-tudip commented on #23
I tried with setting pty to false and add these  " sleep 2"  while creating the daemon.
But it still get disappear

[2018-06-08 10:01] rahulmurkute-tudip opened #206 "Using capistrano sidekiq and sudo command but only one thing is working"
@seuros
set :pty, true

First my pty set to true but while deploying it kills my daemon process then I set pty to false it create daemon sidekiq process properly but it giving me error on sudo command (nginx) then I read documetation they say set pty to false

set :pty, false

But it again kill my daemon process.

So by setting pty true or false only one thing is working. I want both things to be

[2018-06-08 10:12] rahulmurkute-tudip commented on #42
I am using sidekiq capistrano and sudo command to restart nginx server.
So for one thing I have to set set pty true or false. what should I do I want both thing to be work.
Please help me I am so stuck in this.

[2018-06-11 06:51] rahulmurkute-tudip commented on #206
@seuros
Please reply I have to deploy on production.

[2018-06-12 12:10] pmaojo commented on #124
Also
require "capistrano/rvm"
 must be before
require 'capistrano/sidekiq'

[2018-06-15 14:13] kaluznyo opened #207 "Rolling restart"
Hi,

I don't understand the task rolling restart, I do   after :publishing, 'sidekiq:rolling_restart'

But after this I get when I deploy, one sidekiq:quiet, then sidekiq:stop, and sidekiq:rolling_restart

And so my task in progresse is stoped by the sidekiq:stop

How I can don't launch the disekiq:stop ?

[2018-06-27 12:58] barek2k2 commented on #41
`set :pty, false` works perfectly!

[2018-07-02 13:46] stephanebruckert commented on #182
@thibaut-poullain I am having the same issue. Did you fix it?

[2018-07-17 11:57] skcc321 commented on #185
in my case it order helped
# moved -> _require 'capistrano/nginx'_
require 'capistrano/sidekiq'
require 'capistrano/sidekiq/monit'
**require 'capistrano/nginx'** # after monit

[2018-07-31 17:05] m0n9oose commented on #203
You don't really need this. Just set your env variable like this:

[code]

[2018-08-07 10:56] nleo opened #210 "systemd Sidekiq worker runs only then I connected by ssh under deploy user"
When I close session it terminated. What I do wrong?

Ubuntu server 18.04

[2018-08-08 14:41] hungmi commented on #206
@rahulmurkute-tudip can you check your user is able to execute sudo command without password?

[2018-08-09 08:45] coderliu opened #211 "Define methods in rake tasks will lead in potential namespace conflict"
At first, sorry for my poor English. I hope you can understand what I am saying.

Please have a look at [Defined Methods in Rake Tasks; You're Gonna Have a Bad Time](https://kevinjalbert.com/defined_methods-in-rake-tasks-you-re-gonna-have-a-bad-time/) first.

As the article said, define methods in rake tasks is not good idea. And this gem has defined a lot methods in rake task, such as:
https://gi

[2018-08-12 20:59] nleo commented on #210
`# loginctl enable-linger username`

[2018-08-12 20:59] #210 closed

[2018-08-18 06:26] saurabhmaurya15 commented on #130
@thejohnny is this fixed? In `sidekiq.rake` that variable is evaluated now as `processes = fetch(:"#{ role }_processes") || fetch(:sidekiq_processes)`.

So any other role for `sidekiq` should also work now.

[2018-08-20 22:55] ragesoss opened #212 "What is the best way to start sidekiq processes on system boot, or restart processes that die?"
I've been using capistrano-sidekiq in production for a while, and its configurability for multiple processes is great. I use 4 different processes, and 4 queues, with a `config/deploy.rb` that looks like this:

[code]

The one problem I've run into is that, if the server gets restarted, there won't be any sidekiq processes running until the next deployment. There are many different options for sta

[2018-08-22 14:39] ypadlyak commented on #129
@seuros ?
Also monit config is generated without taking into account :sidekiq_options_per_process

[2018-08-22 14:51] ypadlyak commented on #129
My guess is that you are overriding Monit template, which is not taking into account sidekiq_options_per_process

[2018-09-17 14:29] deneuxa opened #214 "sidekiq is stopped after a "cap deploy:rollback""
When runing the commande

`cap production deploy:rollback`

the sidekiqs process are stopped and not  started again :/

[2018-09-23 14:20] aganov opened #216 "Consider adding MALLOC_ARENA_MAX to systemd template"
Can you consider adding `Environment=MALLOC_ARENA_MAX=2` to the systemd template (and maybe to the upstart template too). There have been discussion about long-lived ruby applications like `sidekiq` that will benefit from lower glibc `M_ARENA_MAX`. You can find more information here:

https://www.mikeperham.com/2018/04/25/taming-rails-memory-bloat/
https://bugs.ruby-lang.org/issues/14718
https://b

[2018-10-17 12:11] nesaulov opened #217 "Sidekiq path should be configurable"
Say we have a monorepo with two separate applications in it: `client` and `server`.
Right now capistrano-sidekiq does not allow to specify where `sidekiq` command should be executed, instead there is a hardcoded value: `release_path`

https://github.com/seuros/capistrano-sidekiq/blob/b290994266e695f52b01c0a34db8086f35da476c/lib/capistrano/tasks/sidekiq.rake#L180-L182

This should be configurable i

[2018-10-17 12:11] nesaulov commented on #217
I will open a PR with a proposed fix

[2018-10-18 07:03] Systho opened #219 "Systemd and deploys"
I think systemd script should not be configured to restart sidekiq because it would add a new sidekiq process at each deployment.

Deployment process is :
 1: quiet sidekiq
 2: deploy
 3: stop sidekiq
 4: start a new sidekiq

After step 3, systemd would notice the death of the process and start a new one. But the deploy would start a new process, too.

I think the systemd script should just start

[2018-10-22 19:07] #167 closed

[2018-10-24 06:37] tomprats opened #220 "Sidekiq not starting"
I've tried various setups but I can't seem to get sidekiq to start. I run `cap production sidekiq:install` with the following:

[code]

It looks like it creates the service fine, but for some reason it is erroring:

I'm not sure why it'd be failing like that. I tried mapping the sidekiq commands with bundle exec but I had no luck. I'm not sure what else to try at this point

[2018-10-30 14:39] IlkhamGaysin opened #221 "Set advanced options in starting Sidekiq by Systemd"
Monit conf file as an example and a template:
https://github.com/seuros/capistrano-sidekiq/blob/master/lib/generators/capistrano/sidekiq/monit/templates/sidekiq_monit.conf.erb#L5

Systemd conf file command: https://github.com/seuros/capistrano-sidekiq/blob/master/lib/generators/capistrano/sidekiq/systemd/templates/sidekiq.service.capistrano.erb#L9

How to pass:
https://github.com/mperham/sidekiq/w

[2018-11-05 08:25] Inza opened #222 "Is is safe/smart to use capistrano-sidekiq?"
Hello guys, I love the job you have done with capistrano-sidekiq! ;) But recently, I have run across this article: https://binarapps.com/blog/why-you-should-avoid-using-capistrano-sidekiq/ :-/

What do you think about thoughts in it? Do you plan to add support for systemd, etc to capistrano-sidekiq? I would love to use this "easy to use" solution to get sidekiq running in production (which capistr

[2018-11-05 10:37] seuros commented on #222
Hi @Inza .

Thank you for pointing about about the article.
The [systemd](https://github.com/seuros/capistrano-sidekiq/blob/master/README.md#integration-with-upstart) and [upstartd](https://github.com/seuros/capistrano-sidekiq/blob/master/README.md#integration-with-systemd) integrations were merged and released weeks before the article was authored which make the blog just a Buzzfeed-like article.

[2018-11-05 13:01] Inza commented on #222
Hello @seuros, thanks for the clarification. Hence it is both safe and smart to use capistrano-sidekiq :-) Thanks!

[2018-11-05 13:01] #222 closed

[2018-11-23 06:49] chenjenping commented on #219
I think the `stop task` has already handled this, it tells systemd to stop the process?
[code]

[2018-11-23 06:55] chenjenping commented on #220
Maybe you can execute the command behind `ExecStart` in sidekiq_tomify_production.service file manually, then it will show you more specific error.

[2018-11-23 06:59] chenjenping commented on #221
I have already created a pull request related to this, maybe you can help improve it?
#213

[2018-11-23 08:54] Systho commented on #219
Oh My bad, I was using an old version of capistrano sidekiq.

[2018-11-23 08:54] #219 closed

[2018-12-10 16:19] andresakata commented on #103
I just had the same problem here. Shouldn't monit tasks support a different number of processes per role?

[2018-12-13 13:31] trusche opened #223 "Release 1.0.3?"
Hi, thanks for this great gem. Any chance for a new release? In particular, #205 is forcing me to point my Gemfile to github, which I'd rather avoid.

Thanks!

[2019-01-31 20:22] Flauschbaellchen opened #224 "Gem will break after Sidekiq 6.0 has been released"
After updating sidekiq to version 5.2.5 the following warning is shown:

[code]
The ticket: mperham/sidekiq#4045

As the gamspec denotes a requirement to `sidekiq >= 3.4` but no upper limit, this gem will most likely break after the new version of sidekiq has been released.

The quickfix would be to additionally require sidekiq <= 6.0 and release a new version.
What needs to be done to fix this is

[2019-03-02 17:14] lufutu commented on #224
Any update or solution ?

[2019-03-04 14:14] vilusa commented on #224
Hi everyone,
I am using `sidekiq 5.2.5` version

![screen shot 2019-03-04 at 5 10 08 pm](https://user-images.githubusercontent.com/8127141/53738614-be4e4200-3ea0-11e9-8134-a273a47fa850.png)

This errors puts console, Is there any solution or resource for this problem ?

[2019-04-07 11:59] Paprikas commented on #224
For those who use rbenv like me,  I did quick manual on how to switch to systemd. https://gist.github.com/Paprikas/11fc850f81b687d9cbb7a8efb5ead208
You have to remove old monitoring\ running scripts to avoid conflict.

[2019-04-07 12:03] Paprikas commented on #220
If you use rbenv, you can check my manual https://gist.github.com/Paprikas/11fc850f81b687d9cbb7a8efb5ead208

[2019-04-26 09:10] jsantos opened #225 "Multiple processes using systemd as the init_system"
According to sidekiq's official [example systemd unit file](https://github.com/mperham/sidekiq/blob/master/examples/systemd/sidekiq.service):

[code]

So far so good. But when using `capistrano-sidekiq`, if I set the `init_system` to `:systemd` the service will be started/restarted/stopped with:

[code]

`service_unit_name` here is a single value and right now I believe we're not able to set multi

[2019-04-26 09:19] jsantos commented on #212
I was using monit for this, but the solution isn't encouraged by sidekiq's author anymore, with proper reasons behind it.

I'm currently moving into `systemd` (more info [here](https://github.com/mperham/sidekiq/wiki/Deployment#running-your-own-process)).

Right now I hit the wall because the `systemd` support for `capistrano-sidekiq` does not allow multiple processes yet. But hopefully we'll have

[2019-05-17 17:47] danielristic opened #226 "Redis Environment Variable"
Is there a way to have the startup command include the REDIS_PROVIDER environment variable so that one can configure a specific Redis instance to connect sidekiq processes to?

[2019-05-21 11:43] danielristic commented on #226
So I figured out that the environment variable I needed to change was REDIS_URL rather than REDIS_PROVIDER (which expects the NAME of an environment variable that stores the url for Redis and not the url itself, and is more useful for Heroku and the like).

Anyways I did not find a proper way to specify an extra environment variable for the commands that start sidekiq in this gem so I used a "tric

[2019-06-11 11:10] vintyara opened #227 "Sidekiq will stop after Capistrano deploy"
Hello,

You prefer to install system service for Sidekiq management:

https://github.com/seuros/capistrano-sidekiq/blob/master/lib/generators/capistrano/sidekiq/systemd/templates/sidekiq.service.capistrano.erb

And here you have `ExecReload=/bin/kill -TSTP $MAINPID` for reload.

But, here is Sidekiq signals list with descriptions: https://github.com/mperham/sidekiq/wiki/Signals#tstp

[code]

And w

[2019-06-12 07:01] #227 closed

[2019-06-21 10:28] twistedjoe commented on #224
I think  adding a  sidekiq <= 6.0 restriction on the last version is a bad idea.
The right thing to do would be what the creator of sidekiq advocate.
https://www.mikeperham.com/2014/09/22/dont-daemonize-your-daemons/
Deprecating the daemonization and force using a service manager.

capistrano-sidekiq already works with sidekiq 6 if you use the systemd init feature.

If somebody want to keep deamon

[2019-06-28 12:49] sonxurxo opened #228 "Using systemd, run sidekiq as a system service rather than "user service""
Hi all

Currently this gem invokes `systemctl` hardcoding the `--user` option, like this:

[code]

This prevents users from running Sidekiq as a _system service_ rather than as a _user service_. It would be great if one could specify this with a configuration option. Something like:

[code]

What do you think? I could work on a PR for this if you consider it.

---

**A bit of context of why I thin

[2019-07-03 10:11] TeamNautilus commented on #228
We worked around the issue by enabling lingering for the "deployer" user.
[code]
But maybe there is a better solution.
If you follow the system scope, however, you need to give privilege to the user to reload the service, so it will complicate a bit the process.

[2019-07-04 15:13] sonxurxo commented on #228
Yep, our deployer is currently a sudoer so we ended up using system services, but yours is an interesting workaround, I didn't even know about that feature 👍 . We'll give it a try.

[2019-07-04 15:54] creativetags opened #229 "cap sidekiq:install systemd service not picked up"
I'm trying to setup integration with systemd. I followed the readme and used bundle exec cap sidekiq:install to install the service file. However, it isn't being picked up by systemd in the location that command installed it: /home/my_user/.config/systemd/user/sidekiq-myapp-production.service

I tried systemctl status sidekiq-myapp-production but it says not-found.

I'm on Ubuntu 16.04.6 any sugge

[2019-07-08 11:19] creativetags commented on #229
To answer my own question, I had to `loginctl enable-linger USERACCOUNT` then I could use these commands to set it up:

systemctl --user enable sidekiq-myapp-production
systemctl --user start sidekiq-myapp-production
systemctl --user status sidekiq-myapp-production

I also tweaked this line in the unit file under [Service] for RVM

ExecStart=/usr/local/rvm/wrappers/ruby-2.4.1@my_gemset/bundle exec

[2019-07-08 11:19] #229 closed

[2019-07-12 05:59] prakash-subramani opened #231 "cap production sidekiq:start does not start sidekiq"
I'm using capistrano3.
ruby: 2.3.5
rails: 5.1.4

while running "production sidekiq:start" seems sidekiq started and pid added to the file. But I didn't see the running process in accctivity monitor or grep. Actually the side sidekiq not running

I have set 'pty' as false in deploy.rb

[2019-07-31 19:13] tomprats commented on #220
I ended up not being able to find the specific cause but fixed it eventually after rebuilding the box and playing around with some more things

[2019-07-31 19:13] #220 closed

[2019-08-27 07:30] nimish13 commented on #231
I am facing the same issue.
@prakash-subramani  - Did you get any solution for this?

[2019-08-27 07:43] prakash-subramani commented on #231
@nimish13 No, I didn't get any solution. I just hold on the process. If you get any solution, please share.

Thanks!

[2019-08-27 13:46] leoarnold commented on #224
For systemd-based deployments, it's basically:

* Tailor systemd unit template to your needs: https://github.com/mperham/sidekiq/blob/master/examples/systemd/sidekiq.service
* Extract Sidekiq log file from syslog if needed: https://stackoverflow.com/a/43830129
* Replace this gem with something like the following for user space systemd units:

[code]

[2019-09-02 00:44] lucascaton commented on #224
**Sidekiq 6** has been released and `invalid option: --index` error messages are now showing up during deploy:

[code]

[2019-09-02 10:59] #223 closed

[2019-09-05 23:25] ragesoss commented on #224
Thanks @leoarnold! Your example code was extremely useful.

[2019-09-05 23:41] twistedjoe commented on #224
This gem does support user level systemd deployment already. With customizable service template included.

You just have to set the correct parameters. Search systemd on the readme page, there is a few.

[2019-09-06 04:10] megane42 commented on #228
+1 too, because Amazon Linux 2 (or RHEL7) does not support `--user` option.
https://bugzilla.redhat.com/show_bug.cgi?id=1173278

[2019-09-06 11:29] leoarnold commented on #224
@twistedjoe True that, yet most users do not require the versatile support for the whole variety of init systems. Since this project is not very active (see screenshot below), it seems advisable (c.f. [CVE-2019-15224](https://github.com/rest-client/rest-client/issues/713)) to replace it with four simple and maintainable customized Capistrano tasks rather than hoping for a fresh breeze in this proj

[2019-09-06 12:35] seuros commented on #224
I'm going to release the new version this weekend, that support only sidekiq 6+.
As @twistedjoe, the current workaround is to use the upstart/systemd  integration that is optional for now.
In the next version, it will be the only way to do it.

[2019-09-11 11:07] dmitry commented on #231
@prakash-subramani what kind of sidekiq version do you have?

[2019-09-11 11:08] dmitry commented on #231
What is the `ps -aux` returns?

[2019-09-11 11:24] dmitry opened #234 "--index argument must be removed from the sidekiq start script"
As of sidekiq 6.0 daemonization removal (https://github.com/mperham/sidekiq/commit/5987a8c352a220a94e1850c79186d82c35050d85#diff-411201f0104d91346964914342a07cefL324) `--index` argument is not available anymore.
If you try to deploy sidekiq 6.0 with `--index` the deployment will be failed with `invalid option: --index`.

By the way this argument haven't been used for a long time already (from the

[2019-09-22 05:59] Senegal commented on #234
faced with same issue. @dmitry, how did you manage it?

[2019-09-22 16:45] dmitry commented on #234
@Senegal at the moment downgraded to the sidekiq 5.2
It is not enough just to remove `--index` as sidekiq 6.0 removed daemonization from it's core and now daemonization should be done by yourself.

[2019-09-25 18:02] juleswelsch commented on #224
Hey @seuros,

Do you have an ETA for this release? (sidekiq 6+)
Thanks :)

[2019-10-05 22:12] tcd commented on #224
@seuros ping

[2019-10-08 13:49] rusikf commented on #224
+1, I have
[code]

after updating to sidekiq6 and deploying app

[2019-10-14 18:13] tcd commented on #224
@seuros ping ping

[2019-10-14 23:09] easybills-admin commented on #224
Any news on this?

[2019-10-25 21:03] tcd commented on #224
@seuros ping ping ping

[2019-10-30 05:36] easybills-admin commented on #224
![gif](https://emoji.slack-edge.com/T0253B9P9/tumbleweed/b216ff0a9667efe7.gif)

[2019-11-06 11:11] juleswelsch commented on #224
@seuros ping

[2019-11-07 10:19] rwojnarowski commented on #224
This gem [does support systemd](https://github.com/seuros/capistrano-sidekiq/blob/master/README.md#integration-with-systemd) and sidekiq 6.0 but currently sidekiq is locked to version < 6, so I've created fork which allow to use newest sidekiq 6.0.3: https://github.com/rwojnarowski/capistrano-sidekiq

In short, to get this gem working with sidekiq 6.0:
In Gemfile:
`gem "capistrano-sidekiq", git: "

[2019-11-19 05:44] krtschmr commented on #224
@rwojnarowski well, my bundler path doesn't seem to be there tho

[2019-11-22 19:33] codeglover opened #235 "Systemd custom ExecStart path."
How do I change the default ExecStart path?
Mine should be `ExecStart=/bin/bash -lc 'bundle exec sidekiq -e production'`
The one that is generated for me is not accurate.

[2019-11-29 10:03] ziaulrehman40 commented on #224
@rwojnarowski Worked like a charm, hopefully main gem will be updated soon.

[2019-12-12 09:36] mihir-kumar-thakur commented on #224
# https://curationexperts.github.io/playbook/production/sidekiq_in_production.html

1. gem 'capistrano-sidekiq' , group: :development

2. Load the following in your Capfile
   require 'capistrano/sidekiq'

3. Install sidekiq as a systemd service on your server(s)
  Start by adding Sidekiq specific settings to your config/deploy.rb file

  # Sidekiq service defaults
  set :init_system, :systemd
  s

[2019-12-15 00:58] guillaumebriday commented on #234
Any update on this issue ? Thank you

[2020-01-03 16:11] jnimety commented on #228
I would like this functionality as well. Managing user services is frowned upon with Puppet (and difficult to implement). Giving the deploy user access via sudoers is straight forward:

[code]

[2020-01-10 15:56] arcangel8801 commented on #235
I have the same problem, by default ExecStart
`ExecStart=/usr/local/bin/bundler exec sidekiq -e qa`
but that is wrong

[2020-01-16 18:02] seuros commented on #234
can you try  #236 ?
I tested it with a deployment using systemd.

[2020-01-29 09:11] rusikf commented on #234
Looks, the problem is still actual, any news to merge #236 ?

[2020-02-04 08:00] dmitry commented on #234
@rusikf would be great if you try and write some feedback to #236.

[2020-02-12 07:22] grezar opened #237 "`systemd --user` doesn't work on CentOS7"
Hi there.
I tried to integrate this gem into my Capistrano to deploy Sidekiq on CentOS7.
But, but but but, Systemd included in CentOS7 doesn't support Systemd-user so `systemd --user` which is used to control Sidekiq process in some tasks doesn't work on my environment.

[code]

Nobody was in trouble with the same thing?

[2020-02-12 08:10] grezar commented on #237
I found the almost same issue #228 so I close this.

[2020-02-12 08:10] #237 closed

[2020-02-13 09:35] grezar opened #238 "Why don't we invoke `sidekiq:stop` after `deploy:reverted`?"
Capistrano's rollback flow is described at https://capistranorb.com/documentation/getting-started/flow/ .

[code]

`sidekiq:add_default_hooks` registers a hook to invoke `sidekiq:stop` after `deploy:updated`.
 I think the same hook should be added after`deploy:reverted`.

What do you think?

[2020-03-11 13:35] danielristic opened #240 "State of the integration with Systemd"
I just wanted to briefly sum up what does and does not work when using systemd to start up sidekiq as explained in the Readme. Getting it to work required quite a bit of trial and error and this could save time to other people trying to set it up:

1. The service template file generated by following the official instructions does work (ie can successfully start a sidekiq process) but only once set

[2020-04-06 11:33] sagar-ranglani opened #241 "Support for Sidekiq ~> 6.0"
[code]

[2020-04-09 13:11] sulmanweb commented on #241
👍🏻

[2020-04-21 12:14] 7akimz commented on #231
most probably you are missing the 'app' role in your config/deploy/env_name.rb

[2020-04-21 14:35] dmitry commented on #241
Check this out: https://github.com/seuros/capistrano-sidekiq/pull/236

[2020-05-06 20:22] aesyondu commented on #214
I noticed that `sidekiq:quiet` is run during `cap staging deploy:rollback`, but a new sidekiq process is never started.

[2020-05-06 20:25] aesyondu commented on #238
Related https://github.com/seuros/capistrano-sidekiq/issues/214. There is a `sidekiq:quiet` executed on `deploy:rollback`

[2020-05-07 10:13] agatheblues commented on #224
Newbies corner for those out here who are struggling with this 🤺
I got it to work by re-reading that line and giving it the proper attention:

/home/deploy/.config/systemd/user/sidekiq.service and check rbenv path

This means: open that file and check that the `ExecStart` is using the **correct path to your ruby bundle**. If you're using `rbenv`, chances are, _it is not the correct path_.

[code]

[2020-05-08 10:25] kannancet commented on #224
I struggled with this a lot. Downgraded to `5.2.7` without wasting time on systemctl and things worked!

[2020-05-10 03:16] dheeraj2dj commented on #224
[This](https://github.com/seuros/capistrano-sidekiq/issues/224#issuecomment-559734066) worked for me! 🎉

[2020-05-12 23:22] #228 closed

[2020-05-15 15:29] guillehorno opened #242 "NameError: uninitialized constant Capistrano::Sidekiq in latest beta"
Hi,

I was trying the gem against master, and I get the following error:
[code]

I've tried debugging but can't seem to find out why it's not loading the Sidekiq plugin. Happy to help and send a PR if you could point me in the right direction, what should I try?

Thanks!

[2020-05-19 15:39] gh-assetplan commented on #242
Sorry, I'm not sure what happened, now its working :)

[2020-05-19 16:52] #242 closed

[2020-05-19 16:52] seuros commented on #242
You either didnt require it in Capfile or using an older version .

[2020-06-04 09:27] kyoshidajp opened #248 "Error undefined method `as' is raised with systemd manager"
Part of my Capfile looks like this.

[code]

When I run from jenkins host

[code]

,then my job failed with the following message.

[code]

[2020-06-04 10:53] #248 closed

[2020-06-04 20:36] ccasabona opened #250 "uniniialized constant"

[2020-06-04 20:36] #250 closed

[2020-06-08 11:00] uxxman commented on #242
I am too getting this error for capistrano-sidekiq version 2.0.0.beta4

NameError: uninitialized constant Capistrano::Sidekiq

[code]

[2020-06-08 12:12] uxxman opened #251 "LoadError: cannot load such file -- capistrano/sidekiq (2.0.0.beta4)"
I am trying to setup capistrano-sidekiq but get following error on fresh install

LoadError: cannot load such file -- capistrano/sidekiq

[code]

This is raised when requiring 'capistrano/sidekiq'

[2020-06-08 12:57] seuros commented on #251
You probably running without bundle context.
`bundle exec cap .....`
This bug is not valid.

also use the rubygems version
[code]

[2020-06-08 12:57] #251 closed

[2020-06-08 12:58] #241 closed

[2020-06-11 05:37] KieranP opened #253 "Systemd problem when using rbenv"
When using rbenv, it generates a ExecStart like this:

[code]

I get this error:

[code]

So I remove $HOME and replace with the full absolute path, then it works.

[2020-06-25 11:25] cernyjakub opened #254 "systemd - in 'user' mode, sudo should not be needed"
I try to use the master of this gem to run sidekiq in 'user' mode with systemd. I found out that the `sidekiq:install` task fails, because I don't have _sudo_ installed on my servers. I think that sudo is not needed to copy service unit file from /tmp to user's home...

https://github.com/seuros/capistrano-sidekiq/blob/6ef104f3826b13cc8f0db13f477048511d6fe96c/lib/capistrano/tasks/systemd.rake#L116

[2020-06-25 14:38] seuros commented on #254
You right, i will fix it and release a new version

[2020-06-25 16:28] #254 closed

[2020-06-25 16:29] seuros commented on #254
Let me know if it works for you.

[2020-06-26 06:34] cernyjakub commented on #254
Perfect, works fine. Thanks!

[2020-06-26 06:37] cernyjakub opened #256 "sidekiq gem version requirement"
Hello!

Is it necessary to require sidekiq 6 in dependences? We have an app with older Redis cluster (redis version < 4), so Sidekiq 6 does not run on it. I have forked capistrano-sidekiq and relaxed sidekiq version to `>= 5` and all works fine. I think it would help users in specific upgrade scenarios. We cannot upgrade redis cluster now, but can move to better startup mechanism using systemd...

[2020-06-26 08:36] seuros commented on #256
you can use older version of this gem  that support sidekiq 5.

Yes it required to lock the version, because the syntax and the signals changed.

[2020-06-26 13:28] pakerimus opened #257 "Multiple sidekiq instances?"
With Procfile I can setup multiple sidekiq instances, dividing the queues between them, by having multiple config files.
Is it possible to do it with capistrano-sidekiq?
If so, how is it configured?
And if it's not possible: do you know of an alternative?
Thank you very much!

[2020-06-27 12:10] cernyjakub commented on #256
OK, I use version 2 beta with Sidekiq 5 and the basic lifecycle works.. but undrstand your point. I will survive with my fork of this repo until I can upgrade to newer Redis cluster...

[2020-06-27 12:10] #256 closed

[2020-07-03 02:02] jcohenho commented on #242
I can't use this gem at all right now, based off of master I'm getting `uninitialized constant Capistrano::Sidekiq` as well.

[2020-07-07 20:22] siddhant-mohan opened #258 "sidekiq start failing with sidekiq 6.0"
Capistrano log is this:

[code]

My deploy.rb is:
[code]

[2020-07-07 21:32] seuros commented on #258
what version are you using ? 2.0.0.beta ?

[2020-07-07 21:33] #258 closed

[2020-07-08 20:20] siddhant-mohan commented on #258
@seuros when using beta 2.0.0.beta5 getting this error

[code]

[2020-07-08 20:26] seuros commented on #258
seem like your deploy user dont have sudo privilege .

[2020-07-08 20:27] seuros commented on #258
It needed to restart the systemd process.

[2020-07-08 20:45] siddhant-mohan commented on #258
@seuros i checked it and the user is a sudo user but still getting the same error

[code]

[2020-07-08 20:48] seuros commented on #258
can you show me the sidekiq variables you set  in deploy.rb ?

[2020-07-08 20:54] siddhant-mohan commented on #258
deploy.rb

[code]

deploy/staging.rb

[code]

[2020-07-08 20:59] seuros commented on #258
:sidekiq_service_unit_user  need to be either :user or :system

[2020-07-08 21:04] siddhant-mohan commented on #258
same error even after using :system or :user in sidekiq_service_unit_user

[2020-07-09 21:03] siddhant-mohan commented on #258
@seuros hey any feedback here? any help would be appreciated thanks.

[2020-07-10 22:29] siddhant-mohan opened #259 "Capistrano sidekiq - 2.0.0.beta5 failing the deploy with sidekiq 6"
Capistrano sidekiq - 2.0.0.beta5 failing the deploy with sidekiq 6. detailed error:

[code]

My deploy.rb file is:
[code]

https://github.com/seuros/capistrano-sidekiq/issues/258

[2020-07-30 11:54] pineapplethief commented on #242
Same here, does not work with capistrano-sidekiq (1.0.3)

[2020-08-09 23:22] barnaclebarnes commented on #253
I'm getting the same error. I tried this in my `deploy.rb` file:

`SSHKit.config.command_map[:bundle] = "/home/deploy/.rbenv/bin/rbenv"`

As the ERB template has:

`ExecStart=<%= SSHKit.config.command_map[:bundle] %> exec sidekiq -e <%= fetch(:sidekiq_env) %>`

But it seems that it doesn't pick up this setting? Any ideas how can set the variable so that the ERB template picks up a custom setting?

[2020-08-13 12:10] Paprikas commented on #259
Hi, @siddhant-mohan. I believe this commit breaks systemd config file:
https://github.com/seuros/capistrano-sidekiq/commit/6ef104f3826b13cc8f0db13f477048511d6fe96c
I do not know the details behind bundle bundler namings, maybe the whole config line is wrong.
But previous version (commit) is working.
Just use this line in Gemfile
`gem "capistrano-sidekiq", github: "seuros/capistrano-sidekiq", ref:

[2020-08-19 07:02] AssemDeghady commented on #242
+1

[2020-08-24 03:34] jsantos commented on #212
@aesyondu Yeah, I've also tweaked my rake task to properly handle multiple processes with systemd. Let me paste it here:

[code]

Hope this helps! Maybe I should create a PR with this, it's been a while since I touched this library.

[2020-08-28 17:26] krthi commented on #224
Any update on the support for Sidekiq 6?

[2020-08-28 17:36] krthi commented on #259
Any update or workaround for this issue ?

[2020-09-17 18:48] BrianBos commented on #253
We managed to solve this on our own implementation. You'll need to provide an rbenv custom path in `deploy.rb` eg `
set :rbenv_custom_path, "/home/deploy/.rbenv"` or wherever you rbenv is stored on the server.

[2020-09-21 08:23] ramonrails commented on #224
This still fails for me :(
rbenv, ruby 2.7.1, sidekiq 6.1.2, capistrano-sidekiq master@/rwojnarowski, ExecStart updated to match rbenv bundle

Any clues?

[code]

[2020-10-26 15:52] danielristic commented on #257
Up to version 1.0.3, this could be done using the sidekiq_processes variable. Since switching to service managers it belive this feature is unfortunately no longer supported (at least it's not documented anywhere).

[2020-11-16 19:02] jbrodie opened #263 "Start / Stop tasks (and others) missing for Monit"
On beta5 and these tasks seem to have been removed from the monit.rb.

We have none of the original:
Stop
Start
Quiet
Rolling Restart
[code]
Capfile contains:
[code]
Am I missing something here?

[2020-11-16 19:15] jbrodie commented on #263
Ya sorry, didn't mean to close this.  Seems like these are missing.

[2020-11-30 22:24] farnsworth opened #264 "Systemd append StandardOutput and StandardError"
In sidekiq.service.capistrano.erb there is
<%="StandardOutput=append:#{fetch(:sidekiq_log)}" if fetch(:sidekiq_log) %>
<%="StandardError=append:#{fetch(:sidekiq_error_log)}" if fetch(:sidekiq_error_log) %>
but append is supported from version 240 of systemd (https://github.com/systemd/systemd/blob/master/NEWS) and for older versions you get an error.
Is there a way to handle older systemd versions

[2020-12-14 20:46] fabiode commented on #242
Had the problem right now, using `gem 'capistrano-sidekiq'`, without specifying version. Rubygems automatically downloaded 1.0.2 version. Specifying to `gem 'capistrano-sidekiq', '~> 2.0.0.beta5'` solved the problem.

[2020-12-26 05:19] virusman commented on #263
It's not just Monit. The default `sidekiq.rake` file also references tasks that don't exist anymore. Looks like this gem only supports systemd/upstart now?

[2021-01-05 15:51] bert-mccutchen commented on #257
It looks like you can as long as you use `install_plugin Capistrano::Sidekiq::Monit`. See the following:

The Capistrano plugin loads in the rake tasks.
https://github.com/seuros/capistrano-sidekiq/blob/1e7ef1abbe26aeafe3233a12fc70ee14213eaf76/lib/capistrano/sidekiq/monit.rb#L14

Which you can see uses the `sidekiq_options` variable in the tasks.
https://github.com/seuros/capistrano-sidekiq/blob/1

[2021-01-11 02:45] iscreen opened #266 "Run sidekiq:install raise as undefined exception"
[code]

When I run `cap sidekiq:install` it raise exception as below

![Screen Shot 2021-01-11 at 10 28 22 AM](https://user-images.githubusercontent.com/1193025/104143331-ff4b0200-53f9-11eb-8ceb-0a71f748b7ac.png)

[2021-01-12 16:00] attenzione commented on #253
As mention in the sidekiq repository:
[code]

I need first variant and with current plugin implementation I can't do this

[2021-01-12 16:03] attenzione commented on #253
Can we fetch `:rbenv_type` (this variable is defined by capistrano-rbenv which should be included) and if this variable exists ExecStart starts with `/bin/bash -lc`?

[2021-01-12 16:19] attenzione opened #267 "Incorrect fallback for sidekiq_user for Systemd"
Systemd `:sidekiq_user` fallback to ssh user is incorrect, because there is no global fetch(:run_as):
[code]
Upstart plugin has the same method and it's correct:
[code]
These two plugins contains more methods (`sidekiq_user`, `switch_user`, etc) that should be moved to common file.

[2021-01-13 16:23] prtk418 opened #268 "Supress failure on systemd sidekiq stop"
While deploying a fresh application, where the sidekiq.service unit file is still not created the task `sidekiq:stop` for systemd fails.
In upstart failure is supressed for `sidekiq:stop` so i am assuming the same should be present for systemd as well
For ref : https://github.com/seuros/capistrano-sidekiq/commit/493ade199ab357ef619f8c7bb4a2bdd8bf653598

[2021-01-13 16:38] prtk418 commented on #268
@seuros I have created a PR for the same, please merge if it looks good.
https://github.com/seuros/capistrano-sidekiq/pull/269

[2021-01-18 19:56] HDLP9 opened #270 "Sidekiq with systemd not passing -C config"
Sidekiq with Systemd is not passing option for sidekiq yml config file.

Even when setting sidekiq_config

[2021-01-19 09:54] HDLP9 commented on #202
#270

[2021-02-08 08:36] randoum commented on #231
Same issue, with 'app' role correctly configured

[2021-03-05 18:15] gauravm31 commented on #224
@leoarnold I followed your steps. Created a sidekiq.service file and tried to use that in deploy.rb.

I cant seem to get this working. While deploying, capistrano cant find the service file.

On my server, i can start sidekiq manually with `systemctl start sidekiq`. It asks for user authentication but then works. If I do `systemctl --user start sidekiq`, it says "Failed to restart sidekiq.service:

[2021-03-05 19:16] leoarnold commented on #224
@gauravm31 That is because you installed the systemd unit in system space, not in user space. To run services in user space, [enable-linger](https://www.freedesktop.org/software/systemd/man/loginctl.html) for the unprivileged user and then follow e.g. https://computingforgeeks.com/how-to-run-systemd-service-without-root-sudo/

[2021-03-07 19:03] gauravm31 commented on #224
@leoarnold Followed the steps. Then there was another issue regarding user/group. If we user systemctl with --user, we need to remove the user and group setting from service file as it is not needed. Otherwise it breaks. explained here https://unix.stackexchange.com/questions/438064/

after removing user and group settings, it works fine. Thanks for the help.

[2021-03-07 21:42] LucasPiffer commented on #161
Hey guys, having a hard time to figure out how to run a different config file with capistrano-sidekiq. First I thought the following code would make sense:

[code]

But did not work at all. Do you know if is it possible to have different config files per different processes? Sorry for asking I'm used to use Docker but now I'm trying to help a friend which uses capistrano-sidekiq and also is having

[2021-03-15 21:58] ivanovv commented on #240
@danielristic quick Q – why do you want to use `monit` with `systemd`?

I was under impression that `systemd` has everything needed to run `sidekiq`,  including a watchdog (supported with sidekiq 6 iirc).

[2021-03-16 13:57] danielristic commented on #240
Hey @ivanovv,

While systemd is the best way to ensure that sidekiq and other processes are running and keep running after a failure or a system reboot, monit has some interesting features from a sysadmin and debugging standpoint:

- A web interface that lists which processes are running and for how long (useful when troubleshooting an issue) with the ability to stop or restart them if needed.
- A

[2021-03-31 17:05] Bilal-Abbas-Gigalabs opened #273 "Don't know how to build task 'sidekiq:start'"
Following is my capfile
[code]
my gemfile has ```gem 'capistrano-sidekiq', group: :development```

[2021-04-01 17:15] chriscz commented on #273
Do you have a sample app I can look at?

What capistrano version are you using?

What rails version are you using?

What tasks do you see when you run `cap`?

[2021-04-03 07:52] #267 closed

[2021-04-14 10:58] lloydwatkin opened #274 "`cap env sidekiq:uninstall` fails when using `systemd`"
![Screenshot from 2021-04-14 11-40-38](https://user-images.githubusercontent.com/271622/114699833-b49e9600-9d18-11eb-8b7f-cee7c44c1ea1.png)

Running version 2.0.0

[2021-04-16 05:20] Koki07 opened #275 "Update CHANGELOG.md"
Change diffs for 2.0.0 are not listed in the CHANGELOG.md.
Is there a plan to update it?

[2021-04-19 12:41] davidmles opened #276 "Capistrano tries to reload Sidekiq, but the command is not supported"
When deploying, capistrano-sidekiq triggers the `sidekiq:quiet` command with this output:

[code]

If I try to replicate that command directly on the server, I get this message:

[code]

After investigating, I can't figure out why a "reload" is being called, because it's not supported by the sidekiq service (it's being called from the *systemd.rake* file, in my case).
The provided example in the r

[2021-04-22 07:01] fleitz opened #277 "Sidekiq does not start / stop after upgrading"
Recently upgraded to rails 6 and capistrano-sidekiq 2.0.

sidekiq starting & stopping just silently fail, using systemd.

I tried also monit for fun and it also fails silently.

Tried updating the gem to master with no effect.

Cannot revert back to 1.0.3 as I upgraded Sidekiq to v6,

# production.rb
`server "server2.some_company.com", user: "some_user", roles: %i{app db web}, my_property: :my_val

[2021-04-22 17:54] fleitz commented on #277
I was missing

`install_plugin Capistrano::Sidekiq `

in my Capfile

Thanks for the documentation which works well when actually followed.

Cheers mate!

[2021-04-22 17:54] #277 closed

[2021-04-25 00:41] cassiompf commented on #276
I also have the same problem

[2021-05-12 18:39] jefvlamings commented on #276
@davidmles You're right. Mike Perman mentions this in a couple of issues as well. The reload command doesn't work as you might think it works. He proposes to use the kill command `systemctl --user kill -s TSTP sidekiq`. This will silently kill the sidekiq service without disrupting current tasks.

The sidekiq:quiet task should be rewritten to make use of this command. I've currently disabled the c

[2021-05-13 21:14] augustosamame commented on #276
+1

[2021-05-13 21:18] augustosamame commented on #276
The error you get during deploy is unrelated. You're deploying as sudo user:

`sudo systemctl reload sidekiq`

So the remote server is complaining that you don't have permissions to run passwordless sudo from a SSH script.

One solution is to add the following file `/etc/sudoers.d/sidekiq`

with these contents:

[code]

[2021-05-14 10:04] davidmles commented on #276
Yes, you are right. But in my message I also wrote the command that replicates the reload and you can see the actual error message.

After giving permission in sudoers now I have that same error message:
[code]

[2021-05-14 10:07] davidmles commented on #276
Yes, you are right. In fact I didn't give permission in sudoers because that command doesn't seem to exist. So if I give permission in sudoers I get that same error message:

[code]

[2021-05-14 15:42] seuros commented on #276
@davidmles  You probably have an outdated version of the os or systemd.

[2021-05-14 15:45] davidmles commented on #276
It's an Ubuntu Server 20.04 LTS, with up-to-date packages.

[2021-05-14 16:14] augustosamame commented on #276
@seuros I have the same issue as @davidmles . I also use Ubuntu 20.04 with latest updates.
My systemd version is: systemd 245 (245.4-4ubuntu3.3)

[2021-05-14 17:02] seuros commented on #276
@augustosamame can you show me the systemd file ?

[2021-05-14 19:33] cassiompf commented on #276
To solve the problem I just stopped using this gem and added it to my deploy.rb to restart sidekiq.service ( https://github.com/mperham/sidekiq/blob/master/examples/systemd/sidekiq.service )

[code]

He stops the sidekiq using the command `systemctl stop sidekiq` and starts the sidekiq after performing all the deploy.

[2021-05-14 19:35] augustosamame commented on #276
[code]

[2021-05-14 19:46] seuros commented on #276
I dont see a `ExecReload=/bin/kill -TSTP $MAINPID` in it.

[2021-05-15 02:21] augustosamame commented on #276
I was following the systemd example file here: https://github.com/mperham/sidekiq/blob/master/examples/systemd/sidekiq.service

And it did not include this line.
Adding this line fixed this issue.

[2021-05-16 22:08] seuros commented on #276
@davidmles @cassiompf please see the solution above and close this issue.

[2021-05-16 22:09] seuros commented on #274
A backtrace will be more helpful than a screenshoot.

[2021-05-17 12:03] davidmles commented on #276
That seems to fix it. Thanks!

[2021-05-17 12:03] #276 closed

[2021-06-04 14:50] andrecgro commented on #228
Maybe I'm missing something here but, how can I make this gem work on amazon RHEL7 ?
I'm receiving the `systemctl stderr: Failed to get D-Bus connection: No such file or directory` message everytime I try to deploy after adding the capistrano-sidekiq gem.

[2021-06-04 16:16] seuros commented on #228
@andrecgro , i using amazon RHEL7 and it working. Are you up to date ?

[2021-06-04 16:59] andrecgro commented on #228
Yes, I would say so.

[code]
[code]

To use the gem, should I do anything else than just adding it to my Capfile?
[code]

[2021-06-28 10:23] heaven opened #280 "undefined local variable or method `fetch_systemd_unit_path'"
Stacktrace
[code]

In addition to the undefined variable I've also found there's another bug in the uninstall task here:
[code]

This should be `"#{fetch(:sidekiq_service_unit_name)}.service"`.

[2021-07-29 16:28] seuros commented on #280
@heaven can you try master ?

[2021-08-13 09:04] 64kramsystem opened #283 "Systemd `append` mode should be documented, as it's not always available"
The Systemd unit used the `append` file mode (otherwise Systemd will overwrite the file by default).

However, this functionality has been added on v240, which is a relatively recent version, so it's not supported by all OSs; for example, Ubuntu Bionic (18.04.x) ships v237.

On such OSs, the result is that the log configuration is ignored:

[code]

I'm not sure what a clean solution to this is - t

[2021-08-13 15:36] saveriomiroddi commented on #283
With the updated documentation? Sure. I'll also add a page in the wiki, with an example of how to handle this via Syslog-NG (just for reference).

I'll do this over the next week.

[2021-08-16 22:08] #283 closed

[2021-09-22 20:51] jbrodie commented on #270
I am seeing the same thing.  I have looked at the code and it appears it should be working but it fails to set out services for the configs as I have multiple.

[2021-09-30 21:22] jpickwell commented on #59
When calling `monit stop sidekiq` that will stop and unmonitor the service, so there's no need to do the extra `monit unmonitor sidekiq`. Also, `monit start sidekiq` will both start and monitor the service. So, I think it would be better to just do `sidekiq:stop` and `sidekiq:start`, and not use the "unmonitor" and "monitor" tasks.

I have a tangential issue with the puma plugin, where it only unm

[2021-10-06 15:22] bert-mccutchen commented on #257
It seems that this feature has been re-added:
https://github.com/seuros/capistrano-sidekiq/commit/91f26a58175f5497259a2d8e50cc9675c38298eb

Now we just need a release, unless you're willing to point your Gemfile at master (i'm not).

[2021-10-07 17:37] silva96 opened #289 "Wrong systemctl kill command"
I recently updated master and now it's failing to pick up the correct sidekiq systemd service, it's adding a "1"
like this: sidekiq@1.service

[code]

Doing sudo service sidekiq restart in my machine works perfectly

This is my Capfile

[code]

This is my deploy.rb

[code]

This is the deploy script: (production.rb)

[code]

Do you wonder what is happening?

[2021-10-18 10:56] zwc-real opened #290 "where is systemd sidekiq service installed"
I find a 'sidekiq:install' task，but don't know where it is excuted.
Do I need to run it manually?

[2021-10-25 10:55] #290 closed, assigned to nobody

[2021-11-05 17:51] silva96 commented on #289
@jclusso maybe you can help on this? I saw you authored the PR that introduced this changes.

[2021-11-05 18:54] silva96 commented on #289
I finally ran  cap production sidekiq:install again and removed all service file. This worked. (old file was not compatible)

[2021-11-05 18:54] #289 closed

[2021-11-06 00:25] jclusso commented on #289
@silva96 yes, the uninstaller doesn't handle the old file type. I suppose I could make it so uninstall works on the old way and the new way so it cleans up any old service files. Additionally, I've run into issues where I had to uninstall before changing the number of processes because of the way it works. Ideally the configuration being changed would not break uninstall. Maybe I'll have some time

[2021-11-09 23:49] bart3r commented on #289
@silva96 Can you explain in more detail 'removed all service file'.

I'm having a similar problem that I'm looking to fix.

[2021-11-10 18:35] jclusso commented on #289
@bart3r the old structure for systemd was designed to only run one process. The new way supports mutliple processes. The file name had to be changed to end in an @ since that is how systemd multi process stuff works. Maybe we could have an upgrade task to go from the old way to the new way?

[2021-11-24 21:22] plribeiro3000 commented on #263
The tasks are still defined [here](https://github.com/seuros/capistrano-sidekiq/blob/784b04c973e5c074dc78c30746077c9e6fd2bb9a/lib/capistrano/tasks/monit.rake#L61-L84).

Dunno why they are not accessible. Did anyone manage to bypass this?

[2021-12-01 20:58] cbillen opened #292 "Unescape issue with systemd and multiple processes"
With systemd setup to install multiple processes, we run into the following error when deploying

**01 Invalid unit name "sidekiq@{1..4}" escaped as "sidekiq@\x7b1..4\x7d" (maybe you should use systemd-escape?).`**

Regardless of the task, it seems that anytime systemctl_command is called without a process and the @{ ... } is appended it gets escaped somehow.

My capistrano sidekiq is configured a

[2021-12-02 12:19] ishields opened #293 "Increasing timeout option to after 'deploy:starting', 'sidekiq:stop' hook"
Hello, I am trying to find a way of doing this but can't find it anywhere in the documentation.  I'm trying to increase the time that sidekiq will wait for current running jobs to finish.  We have some jobs that take about 30-60 seconds to run, and though it's ok if they terminate early, I'd prefer them to not.  It would be great to increase this timeout so that the jobs finish.  Is this possible?

[2022-01-03 18:15] antarr commented on #280
I have the same issue. I've already tried master

[2022-04-18 10:40] bart3r opened #296 "How do i specify how the systemd service is called?"
When I deploy, I can see that the sidekiq service is called like this:
[code]
It should **not** be adding the "@{1..1}" part at the end of the service name, because I know it can just run the following and it will work:
`sudo systemctl stop sidekiq`

How can I change the configuration for this, as I don't see any documentation about this?

[2022-05-04 11:45] mrusa commented on #296
You can specify the systemd name with `set :sidekiq_service_unit_name, "custom_name"` in deploy.rb

[2022-05-05 01:24] bart3r commented on #296
Unfortunately, this still adds the @{1..1} onto whatever we set as the sidekiq_service_unit_name

Maybe @seuros or @jclusso can provide some guidance on this?

[2022-05-05 11:45] jclusso commented on #296
This is so it can support multiple processes. Is there a reason you want it to not run the command that way when there is just one?

[2022-05-05 12:02] seuros commented on #296
Let a flag to disable the the multi processes support if wanted. By default we keep it on. Wdyt ?

[2022-05-05 12:30] bart3r commented on #296
@jclusso The reason is that my system doesn't seem to support that syntax:

[code]

This will work though:
`deploy@web:~$ sudo systemctl restart sidekiq`

[2022-05-05 14:04] jclusso commented on #296
@bart3r I see. Must be using an older version of systemd. @seuros I honestly think when `sidekiq_processes` is `1` it should just not include that syntax. Additionally maybe the documentation should state for multi-process support you need whatever version of systemd requires that. I don't remember off hand what that is though.

[2022-05-05 15:06] jclusso commented on #296
@seuros just so you know I'm running `systemd 245 (245.4-4ubuntu3.15)` which supports it. I can't find when they added support for it.

[2022-05-05 23:23] bart3r commented on #296
@seuros

[code]

[2022-05-10 01:18] bart3r commented on #296
@seuros @jclusso I like either of your suggestions above as a solution to the problem.

[2022-05-15 23:11] seuros commented on #275
I will update it shortly.

[2022-05-15 23:11] #275 closed

[2022-05-16 07:58] #296 closed

[2022-05-16 10:17] lloydwatkin opened #298 "Error on upgrade to 2.2.0"
[code]

Also, what are the plans/timeline for fully automatic multiple process support using this library?

Thanks for the efforts :)

[2022-05-16 10:25] lloydwatkin commented on #298
Ok, if I set `:sidekiq_processes` to 1, then I don't get an issue, its only if `sidekiq_processes` > 1 (after having upgraded to **2.2.0**).

I would make sense to have a consistent naming convention regardless of the number of processes?

[2022-05-16 10:29] lloydwatkin commented on #298
(sorry for all the comments, just dumping my investigation....)

From what I can see the `start`, `stop`, `restart` processes are all covered, just not the `install` process. I believe I think this means that we need to update https://github.com/seuros/capistrano-sidekiq/blob/be3e88c5b3d7f5dcb3e1fa6dba6dceb3c8432ed0/lib/capistrano/tasks/systemd.rake#L153-L161 to take into account process numbers

[2022-05-17 21:39] seuros commented on #298
Should be fixed in 2.3.0 . Please confirm .

[2022-05-22 16:53] #298 closed

[2022-06-09 01:29] bart3r opened #303 "invalid multibyte char"
Any idea why we one of our users is getting the following error:
[code]

As you can see we are using ruby 2.7.2 and the latest version of the capistrano-sidekiq gem

[2022-07-26 17:42] legendetm opened #307 "cap env sidekiq:uninstall fails when used does not have sudo permission"
Currently the service file is always removed with `sudo`, but when sudo is not allowed for the user, then the uninstall fails.

The [source code deletes with command `execute :sudo, :rm, '-f'`](https://github.com/seuros/capistrano-sidekiq/blob/a465898d1b527e719486840103720cce0e9f6f5f/lib/capistrano/tasks/systemd.rake#L106)

I expect the service file to deleted or to have configuration whether to u

[2022-07-26 17:46] legendetm commented on #293
The timeout can be configured in [Sidekiq configuration file](https://github.com/mperham/sidekiq/blob/46f4c6bd9ee0b2f5502a1dc0d03414989ad65063/examples/config.yml) using `:timeout` option

[2022-07-26 19:58] legendetm commented on #307
When following current style, then  the code probably should be
[code]

[2022-09-10 03:36] hungdinhvan commented on #259
Hello,

I also had the same problem, after a few hours of research, I fixed it with the following:
1. Write a service sidekiq.service according to the following instructions:
https://dev.to/kevinluo201/start-sidekiq-6-as-daemon-in-production-environment-on-ubuntu-20-04-4m7b
In case i use command
[code]
2. Write a capistrano task as follows:
[code]
Final, Of course install deploy.rb with Capfile
[c

[2022-10-03 10:16] #274 closed

[2022-10-03 10:17] seuros commented on #216
You can use `sidekiq_service_unit_env_vars`  to set it.

[2022-10-03 10:17] #216 closed

[2022-10-03 15:03] seuros commented on #303
I can't reproduce this.

[2022-10-03 15:03] #303 closed

[2022-10-03 15:04] seuros commented on #270
Fixed on master , with a new api.

[2022-10-03 15:04] #270 closed

[2022-10-03 15:07] seuros commented on #280
This setting was removed in master. All the gem was simplified and tested.
If this issue persist open a PR in  https://github.com/seuros/capistrano-example-app  so i can replicate it.

Thank you for your report

[2022-10-03 15:07] #280 closed

[2022-10-03 22:04] seuros commented on #226
You can use `sidekiq_service_unit_env_vars`
like this https://github.com/seuros/capistrano-example-app/blob/main/config/deploy/with_env.rb#L4

[2022-10-03 22:04] #226 closed

[2022-10-03 22:05] seuros commented on #257
You can use it like this : https://github.com/seuros/capistrano-example-app/blob/main/config/deploy/multi_process.rb

[2022-10-03 22:05] #257 closed

[2022-10-03 22:06] seuros commented on #273
Monit support is removed and will added in future versions.

[2022-10-03 22:06] #273 closed

[2022-10-03 22:06] #293 closed

[2022-10-03 22:10] seuros commented on #194
`Sidekiq.logger = `  in your initializer

[2022-10-03 22:10] #194 closed

[2022-10-03 22:10] #187 closed

[2022-10-03 22:11] #200 closed

[2022-10-03 22:29] #207 closed

[2022-10-03 23:40] seuros commented on #264
You can place the template locally

[2022-10-03 23:41] #264 closed

[2022-10-03 23:59] #259 closed

[2022-10-07 19:18] gregblass opened #311 "Sidekiq worker doesn't start until I ssh in to the server (systemd)"
When I do a deploy, everything appears to work - but a worker doesn't spawn until I ssh into the server (user 'deploy'). As soon as I ssh in, the worker starts up.

Has anyone experienced this? Any clue as to what I might be missing from my config?

Capistrano is running this, which appears to work (or at least doesn't error):
`systemctl --user start sidekiq`

But, the no worker shows up in the si

[2022-10-08 20:45] seuros commented on #311
@gregblass  can you test  with the [alpha version](https://rubygems.org/gems/capistrano-sidekiq/versions/3.0.0.alpha.1) please!

The readme has a link to a sample application to see test different settings.

Remember to clean up the old services, the new version generate a service with the name of the application + stage (you can override it)

[2022-10-08 20:46] seuros commented on #307
Can you try with https://rubygems.org/gems/capistrano-sidekiq/versions/3.0.0.alpha.1 ? The new api is now in sync with capistrano3-puma gem.

[2022-10-08 20:51] seuros commented on #240
Can you try with the latest version https://rubygems.org/gems/capistrano-sidekiq/versions/3.0.0.alpha.1

The whole api was refactored .

I will add the monit integration in a future version.

[2022-10-08 20:51] #268 closed

[2022-10-08 20:53] seuros commented on #238
I think sidekiq has to start after a revert.
I will work on this tomorrow.

[2022-10-08 20:54] seuros commented on #235
Can you try with latest version ?

[2022-10-08 20:54] #178 closed

[2022-10-08 20:54] #181 closed

[2022-10-08 20:54] #182 closed

[2022-10-08 20:54] #185 closed

[2022-10-08 20:55] seuros commented on #172
Done. Thank you.

[2022-10-08 20:55] #172 closed

[2022-10-08 20:56] #166 closed

[2022-10-08 20:56] #162 closed

[2022-10-08 20:56] #161 closed

[2022-10-08 21:00] #186 closed

[2022-10-08 21:01] #118 closed

[2022-10-08 21:02] #44 closed

[2022-10-08 21:02] #59 closed

[2022-10-08 21:02] #77 closed

[2022-10-08 21:02] #79 closed

[2022-10-08 21:02] #82 closed

[2022-10-08 21:02] #84 closed

[2022-10-08 21:02] #103 closed

[2022-10-08 21:02] #114 closed

[2022-10-08 21:02] #129 closed

[2022-10-08 21:02] #130 closed

[2022-10-08 21:02] #133 closed

[2022-10-08 21:02] #134 closed

[2022-10-08 21:02] #138 closed

[2022-10-08 21:02] #142 closed

[2022-10-08 21:02] #147 closed

[2022-10-08 21:02] #148 closed

[2022-10-08 21:02] #151 closed

[2022-10-08 21:02] #152 closed

[2022-10-08 21:03] seuros commented on #266
Please try latest version

[2022-10-08 21:03] #266 closed

[2022-11-02 07:28] philsmy opened #312 "How do per-server sidekiq_config_files work?"
Looking at the example app I thought it was like this:

[code]
But that doesn't seem to work. I guess that the servers are just using the `sidekiq.yml` I happened to have in the config directory.
We'd really like to fine-tune this!

[2022-11-15 14:48] maxingjia1314 commented on #237
Hello, I'd like to ask how you handled it. I haven't found out what their solution is

[2022-11-18 12:23] ronakabhattrz opened #314 "Sidekiq is logging to the system log files instead of its own sidekiq.log"
Sidekiq is logging to the system log files instead of its own sidekiq.log

I have the following setting.
[code]

[2022-11-22 16:37] JackWetson commented on #314
Just to confirm i'm also experiencing the same

[2022-11-23 00:26] silva96 opened #315 "Tried capistrano sidekiq 3.0.0.alpha.1 with sidekiq7 and nothing happens"
I updated all my deps including sidekiq and capistrano-sidekiq, now the whole capistrano deployment log does not include a single reference to the word "sidekiq", no rake task from capistrano-sidekiq is being invoked on deployment.

[code]

[code]

[code]

Downgrading to 2.3 works again. Please let me know how can I help.